<main>

    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section id="shoptext">
        <p>UP TO <span>50 %</span> OFF THESE LOOKS! <br> <span>DEAL STATUS : B-I-G</span></p>
    </section>

    <section id="categories">
        <!-- eto kategorii woman, kotorie bili v sidebar, esli budet man to ix budet menshe kak v sidebare -->
        <!-- v main page toje o show more knopkalarina basanda nado sdelat tak shto b on posle perenapravleniya
            na stranicu shop ne zabival shto ti najal na New collection ili naprimer s sidebara najal na Clothing,
            doljen zapominat obazatelno. Ne smojesh sdelat uberi activespan klass i vse -->
        <div class="container">
            <div class="row">
                <ul class="head_categories">
                    <li class="headcategoryli ">
                        <a href="" class="categoryhref">NEW</a>
                        <div class="categorymenu">
                            <div class="all">
                                <div class="col-lg-3 left col-12">
                                    <span class="seeall"><a href="">SEE ALL</a></span>
                                    <span>NEW</span>
                                    <ul>
                                        <li> <a href="">DRESSES</a> </li>
                                        <li> <a href="">DUNGAREES & JUMPSUITS</a> </li>
                                        <li> <a href="">SHORTS</a> </li>
                                        <li> <a href="">TROUSERS</a> </li>
                                        <li> <a href="">JEANS</a> </li>
                                        <li> <a href="">TOPS & BODYSUITS</a> </li>
                                        <li> <a href="">HOODIES</a> </li>
                                        <li> <a href="">TSHIRTS</a> </li>
                                        <li> <a href="">BIKINIS</a> </li>
                                        <li> <a href="">SKIRTS</a> </li>
                                        <li> <a href="">KNIT</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                    </ul>
                                </div>

                                <div class="col-lg-4-5 middle">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <div class="bodyfits">
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu1.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PLUS SIZE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu2.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">MATERNITY</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu3.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PETITE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4-5 right">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <a href="" class="topphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright1.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">HOLIDAYS</div>
                                    </a>
                                    <a href="" class="bottomphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright2.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">FESTIVALS</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headcategoryli cloli">
                        <a href="" class="categoryhref activespan ">CLOTHING</a>
                        <div class="categorymenu">
                            <div class="all">
                                <div class="col-lg-3 left col-12">
                                    <span class="seeall"><a href="">SEE ALL</a></span>
                                    <span>CLOTHING</span>
                                    <ul>
                                        <li> <a href="">DRESSES</a> </li>
                                        <li> <a href="">DUNGAREES & JUMPSUITS</a> </li>
                                        <li> <a href="">SHORTS</a> </li>
                                        <li> <a href="">TROUSERS</a> </li>
                                        <li> <a href="">JEANS</a> </li>
                                        <li> <a href="">TOPS & BODYSUITS</a> </li>
                                        <li> <a href="">HOODIES</a> </li>
                                        <li> <a href="">TSHIRTS</a> </li>
                                        <li> <a href="">BIKINIS</a> </li>
                                        <li> <a href="">SKIRTS</a> </li>
                                        <li> <a href="">KNIT</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                    </ul>
                                </div>

                                <div class="col-lg-4-5 middle">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <div class="bodyfits">
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu1.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PLUS SIZE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu2.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">MATERNITY</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu3.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PETITE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4-5 right">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <a href="" class="topphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright1.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">HOLIDAYS</div>
                                    </a>
                                    <a href="" class="bottomphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright2.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">FESTIVALS</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">SHOES</a>
                        <div class="categorymenu">
                            <div class="all">
                                <div class="col-lg-3 left col-12">
                                    <span class="seeall"><a href="">SEE ALL</a></span>
                                    <span>SHOES</span>
                                    <ul>
                                        <li> <a href="">DRESSES</a> </li>
                                        <li> <a href="">DUNGAREES & JUMPSUITS</a> </li>
                                        <li> <a href="">SHORTS</a> </li>
                                        <li> <a href="">TROUSERS</a> </li>
                                        <li> <a href="">JEANS</a> </li>
                                        <li> <a href="">TOPS & BODYSUITS</a> </li>
                                        <li> <a href="">HOODIES</a> </li>
                                        <li> <a href="">TSHIRTS</a> </li>
                                        <li> <a href="">BIKINIS</a> </li>
                                        <li> <a href="">SKIRTS</a> </li>
                                        <li> <a href="">KNIT</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                    </ul>
                                </div>

                                <div class="col-lg-4-5 middle">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <div class="bodyfits">
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu1.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PLUS SIZE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu2.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">MATERNITY</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu3.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PETITE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4-5 right">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <a href="" class="topphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright1.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">HOLIDAYS</div>
                                    </a>
                                    <a href="" class="bottomphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright2.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">FESTIVALS</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">BAGS</a>
                        <div class="categorymenu">
                            <div class="all">
                                <div class="col-lg-3 left col-12">
                                    <span class="seeall"><a href="">SEE ALL</a></span>
                                    <span>BAGS</span>
                                    <ul>
                                        <li> <a href="">DRESSES</a> </li>
                                        <li> <a href="">DUNGAREES & JUMPSUITS</a> </li>
                                        <li> <a href="">SHORTS</a> </li>
                                        <li> <a href="">TROUSERS</a> </li>
                                        <li> <a href="">JEANS</a> </li>
                                        <li> <a href="">TOPS & BODYSUITS</a> </li>
                                        <li> <a href="">HOODIES</a> </li>
                                        <li> <a href="">TSHIRTS</a> </li>
                                        <li> <a href="">BIKINIS</a> </li>
                                        <li> <a href="">SKIRTS</a> </li>
                                        <li> <a href="">KNIT</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                    </ul>
                                </div>

                                <div class="col-lg-4-5 middle">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <div class="bodyfits">
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu1.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PLUS SIZE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu2.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">MATERNITY</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu3.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PETITE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4-5 right">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <a href="" class="topphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright1.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">HOLIDAYS</div>
                                    </a>
                                    <a href="" class="bottomphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright2.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">FESTIVALS</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">ACCESSORIES</a>
                        <div class="categorymenu">
                            <div class="all">
                                <div class="col-lg-3 left col-12">
                                    <span class="seeall"><a href="">SEE ALL</a></span>
                                    <span>ACCESSORIES</span>
                                    <ul>
                                        <li> <a href="">DRESSES</a> </li>
                                        <li> <a href="">DUNGAREES & JUMPSUITS</a> </li>
                                        <li> <a href="">SHORTS</a> </li>
                                        <li> <a href="">TROUSERS</a> </li>
                                        <li> <a href="">JEANS</a> </li>
                                        <li> <a href="">TOPS & BODYSUITS</a> </li>
                                        <li> <a href="">HOODIES</a> </li>
                                        <li> <a href="">TSHIRTS</a> </li>
                                        <li> <a href="">BIKINIS</a> </li>
                                        <li> <a href="">SKIRTS</a> </li>
                                        <li> <a href="">KNIT</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                    </ul>
                                </div>

                                <div class="col-lg-4-5 middle">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <div class="bodyfits">
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu1.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PLUS SIZE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu2.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">MATERNITY</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu3.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PETITE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4-5 right">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <a href="" class="topphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright1.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">HOLIDAYS</div>
                                    </a>
                                    <a href="" class="bottomphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright2.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">FESTIVALS</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">WHAT TO WEAR TODAY</a>
                        <div class="categorymenu">
                            <div class="all">
                                <div class="col-lg-3 left col-12">
                                    <span class="seeall"><a href="">SEE ALL</a></span>
                                    <span>WHAT TO WEAR TODAY</span>
                                    <ul>
                                        <li> <a href="">DRESSES</a> </li>
                                        <li> <a href="">DUNGAREES & JUMPSUITS</a> </li>
                                        <li> <a href="">SHORTS</a> </li>
                                        <li> <a href="">TROUSERS</a> </li>
                                        <li> <a href="">JEANS</a> </li>
                                        <li> <a href="">TOPS & BODYSUITS</a> </li>
                                        <li> <a href="">HOODIES</a> </li>
                                        <li> <a href="">TSHIRTS</a> </li>
                                        <li> <a href="">BIKINIS</a> </li>
                                        <li> <a href="">SKIRTS</a> </li>
                                        <li> <a href="">KNIT</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                    </ul>
                                </div>

                                <div class="col-lg-4-5 middle">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <div class="bodyfits">
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu1.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PLUS SIZE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu2.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">MATERNITY</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu3.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PETITE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4-5 right">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <a href="" class="topphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright1.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">HOLIDAYS</div>
                                    </a>
                                    <a href="" class="bottomphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright2.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">FESTIVALS</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">PACIFIC REPUBLIC</a>
                        <div class="categorymenu">
                            <div class="all">
                                <div class="col-lg-3 left col-12">
                                    <span class="seeall"><a href="">SEE ALL</a></span>
                                    <span>PACIFIC REPUBLIC</span>
                                    <ul>
                                        <li> <a href="">DRESSES</a> </li>
                                        <li> <a href="">DUNGAREES & JUMPSUITS</a> </li>
                                        <li> <a href="">SHORTS</a> </li>
                                        <li> <a href="">TROUSERS</a> </li>
                                        <li> <a href="">JEANS</a> </li>
                                        <li> <a href="">TOPS & BODYSUITS</a> </li>
                                        <li> <a href="">HOODIES</a> </li>
                                        <li> <a href="">TSHIRTS</a> </li>
                                        <li> <a href="">BIKINIS</a> </li>
                                        <li> <a href="">SKIRTS</a> </li>
                                        <li> <a href="">KNIT</a> </li>
                                        <li> <a href="">BLOUSES</a> </li>
                                    </ul>
                                </div>

                                <div class="col-lg-4-5 middle">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <div class="bodyfits">
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu1.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PLUS SIZE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu2.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">MATERNITY</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu3.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">PETITE</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                        <a href="" class="col-lg-3-8 maindiv">
                                            <span class="imgkeeper">
                                                <img class="img-fluid"
                                                     src="~/assets/images/categories/categorymenu4.jpg" alt="">
                                            </span>
                                            <span class="col-lg-12 namecate">TALL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4-5 right">
                                    <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                    <a href="" class="topphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright1.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">HOLIDAYS</div>
                                    </a>
                                    <a href="" class="bottomphoto col-lg-12">
                                        <img class="img-fluid " src="~/assets/images/categories/categoryright2.jpg"
                                             alt="">
                                        <div class="overlay"></div>
                                        <div class="nazvanie">FESTIVALS</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="breadcrumb">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-3">
                    <a href="index.html">MAIN PAGE</a>&nbsp;/ SHOP
                </div>
            </div>
        </div>
    </section>

    <section id="clothing">
        <div class="container">
            <div class="row all">
                <div class="top col-lg-12">
                    CLOTHING
                </div>

                <div class="filternew col-lg-12 col-12">
                    <div class="sort col-lg-2-2 filterdiv">
                        <span class="sorttype">SORT</span>
                        <ul class="filterul sortbycount">
                            <li>SORT</li>
                            <li>6</li>
                            <li>12</li>
                            <li>18</li>
                            <li>24</li>
                            <li>30</li>
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>
                    </div>
                    <div class="style col-lg-2-2 filterdiv">
                        <span class="sorttype">ORDER BY</span>
                        <ul class="filterul sortbyorder">
                            <li>ORDER BY</li>
                            <li>LOWEST PRICE</li>
                            <li>HIGHEST PRICE</li>
                            <li>NAME A to Z</li>
                            <li>NAME Z to A</li>
                            <li>NEWEST</li>
                            <li>MOST POPULAR</li>
                            <li>DISCOUNT</li>
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>

                    </div>
                    <div class="color col-lg-2-2 filterdiv">
                        <span class="sorttype">COLOR</span>
                        <ul class="filterul sortbycolor">
                            <li>COLOR</li>
                            <li>RED</li>
                            <li>BLUE</li>
                            <li>GREEN</li>
                            <li>YELLOW</li>
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>

                    </div>
                    <div class="bodyfit col-lg-2-2 filterdiv">
                        <span class="sorttype">BODY FIT</span>
                        <ul class="filterul sortbybodyfit">
                            <li>BODY FIT</li>
                            <li>RELAX</li>
                            <li>ACTIVE</li>
                            <li>SLIM</li>
                            <li>RODEO</li>
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>
                    </div>

                    <div class="price-input-mobile">
                        <input type="number" class="input-min" value="100">
                        <span class="inputspan">-</span>
                        <input type="number" class="input-max" value="1000">
                        <span class="axirincnispan">$</span>
                    </div>

                    <div class="size col-lg-2-2 filterdiv">
                        <span class="sorttype">SIZE</span>
                        <ul class="filterul sortbysize">
                            <li>SIZE</li>
                            <li>XS</li>
                            <li>S</li>
                            <li>M</li>
                            <li>L</li>
                            <li>XL</li>
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>

                    </div>
                </div>

                <div class="pricerange col-lg-12">
                    <div class="price-input col-lg-1-8">
                        <input type="number" class="input-min" value="100">
                        <span>$</span>
                        <span class="inputspan">-</span>
                        <input type="number" class="input-max" value="1000">
                        <span class="axirincnispan">$</span>
                    </div>
                    <div class="slider1">
                    </div>
                    <div class="range-input">
                        <input type="range" class="range-min" min="0" max="1500" value="100" step="1">
                        <input type="range" class="range-max" min="0" max="1500" value="1000" step="1">
                    </div>
                </div>

                <div class="products col-lg-12">

                    <div class="col-lg-3-5 col-12 product">
                        <div class="top">

                            <a class="photoimgkeeper" href="detail.html">
                                <img class="img-fluid" src="~/assets/images/Products/8390360513_2_1_8.jpg" alt="">
                            </a>

                            <a class="wishlist" href="">
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                          stroke="black" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </a>

                            <span class="discount_percent">
                                <span>-20%</span>
                            </span>
                        </div>

                        <div class="bottom">
                            <div class="botop col-lg-12 col-12">
                                <a href="detail.html" class="botopleft col-lg-9 col-9">SHORT RIBBED DRESS</a>
                                <span class="discprice botopright col-lg-2 col-2">40€</span>
                            </div>
                            <form method="post" class="bobottom col-lg-12 col-12 addingtobasketinshoppage">
                                <div class="bobotleft col-lg-4 col-4">
                                    <select name="" id="" class="size">
                                        <option selected value="0">SIZE</option>
                                        <option value="S">S</option>
                                        <option value="L">L</option>
                                        <option value="M">M</option>
                                        <option value="XL">XL</option>
                                    </select>
                                </div>
                                <div class="bobotright col-lg-7 col-7">
                                    <!-- <input type="radio" id="databazadancolorunidsi" name="color" value="#EDC321">
                                    <label style="background-color: #EDC321;" for="databazadancolorunidsi" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi1" name="color" value="#3780AB">
                                    <label style="background-color: #3780AB;" for="databazadancolorunidsi1" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi2" name="color" value="#4AAB37">
                                    <label style="background-color: #4AAB37;" for="databazadancolorunidsi2" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi3" name="color" value="#9BAB37">
                                    <label style="background-color: #9BAB37;" for="databazadancolorunidsi3" class="colorlabel"></label> -->

                                    <input type="radio" name="color" value="#9BAB37">
                                    <div class="colorlabel color_box" style="background-color: #9BAB37;"></div>
                                    <input type="radio" name="color" value="#4AAB37">
                                    <div class="colorlabel color_box" style="background-color: #4AAB37;"></div>
                                    <input type="radio" name="color" value="#3780AB">
                                    <div class="colorlabel color_box" style="background-color: #3780AB;"></div>
                                    <input type="radio" name="color" value="#EDC321">
                                    <div class="colorlabel color_box" style="background-color: #EDC321;"></div>
                                </div>

                                <button type="submit" class="basket addtobasketshopbtn">
                                    <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                              fill="black" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-3-5 col-12 product">
                        <div class="top">

                            <a class="photoimgkeeper" href="detail.html">
                                <img class="img-fluid" src="~/assets/images/Products/8390360513_2_1_8.jpg" alt="">
                            </a>

                            <a class="wishlist" href="">
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                          stroke="black" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </a>

                            <span class="discount_percent">
                                <span>-20%</span>
                            </span>
                        </div>

                        <div class="bottom">
                            <div class="botop col-lg-12 col-12">
                                <a href="detail.html" class="botopleft col-lg-9 col-9">SHORT RIBBED DRESS</a>
                                <span class="discprice botopright col-lg-2 col-2">40€</span>
                            </div>
                            <form method="post" class="bobottom col-lg-12 col-12 addingtobasketinshoppage">
                                <div class="bobotleft col-lg-4 col-4">
                                    <select name="" id="" class="size">
                                        <option selected value="0">SIZE</option>
                                        <option value="S">S</option>
                                        <option value="L">L</option>
                                        <option value="M">M</option>
                                        <option value="XL">XL</option>
                                    </select>
                                </div>
                                <div class="bobotright col-lg-7 col-7">
                                    <!-- <input type="radio" id="databazadancolorunidsi" name="color" value="#EDC321">
                                    <label style="background-color: #EDC321;" for="databazadancolorunidsi" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi1" name="color" value="#3780AB">
                                    <label style="background-color: #3780AB;" for="databazadancolorunidsi1" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi2" name="color" value="#4AAB37">
                                    <label style="background-color: #4AAB37;" for="databazadancolorunidsi2" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi3" name="color" value="#9BAB37">
                                    <label style="background-color: #9BAB37;" for="databazadancolorunidsi3" class="colorlabel"></label> -->

                                    <input type="radio" name="color" value="#9BAB37">
                                    <div class="colorlabel color_box" style="background-color: #9BAB37;"></div>
                                    <input type="radio" name="color" value="#4AAB37">
                                    <div class="colorlabel color_box" style="background-color: #4AAB37;"></div>
                                    <input type="radio" name="color" value="#3780AB">
                                    <div class="colorlabel color_box" style="background-color: #3780AB;"></div>
                                    <input type="radio" name="color" value="#EDC321">
                                    <div class="colorlabel color_box" style="background-color: #EDC321;"></div>
                                </div>

                                <button type="submit" class="basket addtobasketshopbtn">
                                    <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                              fill="black" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-3-5 col-12 product">
                        <div class="top">

                            <a class="photoimgkeeper" href="detail.html">
                                <img class="img-fluid" src="~/assets/images/Products/8392328800_2_1_8.jpg" alt="">
                            </a>

                            <a class="wishlist" href="">
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                          stroke="black" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </a>

                            <span class="discount_percent">
                                <span>-20%</span>
                            </span>
                        </div>

                        <div class="bottom">
                            <div class="botop col-lg-12 col-12">
                                <a href="detail.html" class="botopleft col-lg-9 col-9">SHORT RIBBED DRESS</a>
                                <span class="discprice botopright col-lg-2 col-2">40€</span>
                            </div>
                            <form method="post" class="bobottom col-lg-12 col-12 addingtobasketinshoppage">
                                <div class="bobotleft col-lg-4 col-4">
                                    <select name="" id="" class="size">
                                        <option selected value="0">SIZE</option>
                                        <option value="S">S</option>
                                        <option value="L">L</option>
                                        <option value="M">M</option>
                                        <option value="XL">XL</option>
                                    </select>
                                </div>
                                <div class="bobotright col-lg-7 col-7">
                                    <!-- <input type="radio" id="databazadancolorunidsi" name="color" value="#EDC321">
                                    <label style="background-color: #EDC321;" for="databazadancolorunidsi" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi1" name="color" value="#3780AB">
                                    <label style="background-color: #3780AB;" for="databazadancolorunidsi1" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi2" name="color" value="#4AAB37">
                                    <label style="background-color: #4AAB37;" for="databazadancolorunidsi2" class="colorlabel"></label>

                                    <input type="radio" id="databazadancolorunidsi3" name="color" value="#9BAB37">
                                    <label style="background-color: #9BAB37;" for="databazadancolorunidsi3" class="colorlabel"></label> -->

                                    <input type="radio" name="color" value="#9BAB37">
                                    <div class="colorlabel color_box" style="background-color: #9BAB37;"></div>
                                    <input type="radio" name="color" value="#4AAB37">
                                    <div class="colorlabel color_box" style="background-color: #4AAB37;"></div>
                                    <input type="radio" name="color" value="#3780AB">
                                    <div class="colorlabel color_box" style="background-color: #3780AB;"></div>
                                    <input type="radio" name="color" value="#EDC321">
                                    <div class="colorlabel color_box" style="background-color: #EDC321;"></div>
                                </div>

                                <button type="submit" class="basket addtobasketshopbtn">
                                    <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                              fill="black" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="pagination col-lg-12">
                    <ul>
                        <li class="activepagination"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>

                <div class="loadmore col-lg-12">
                    <a href="" class="loadmore">LOAD MORE</a>
                </div>

            </div>
        </div>
    </section>

</main>
