@model HeaderVM

<header class="header">
    <div class="container">
        <div class="computer">
            <div class="row d-flex  align-tify-content-between navigation">
                <div class="gender col-lg-3">
                    <a asp-controller="Shop" asp-action="Index" asp-route-genderId="1">WOMAN</a>
                    |
                    <a asp-controller="Shop" asp-action="Index" asp-route-genderId="2">MAN</a>
                </div>

                <div class="nav col-lg-4-5">
                    <a asp-controller="Home" asp-action="Index">HOME</a>
                    <a asp-controller="Shop" asp-action="Index">SHOP</a>
                    <a asp-controller="About" asp-action="Index">ABOUT</a>
                    <a asp-controller="Contact" asp-action="Contact">CONTACT</a>
                    <a asp-controller="Faq" asp-action="Index">FAQ</a>
                </div>
                <div class="search col-lg-2-2">
                    <input class="search_input " id="header_search" placeholder="SEARCH" type="text">
                    <a href="aparacag search controllere" class="headersearchhref">
                        <ion-icon name="search-outline" class="search_icon"></ion-icon>
                    </a>
                    <div class="searchmenu">
                        <div class="searchelements">
                            <ul class="searchul">
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="cart minibasketfetch col-lg-0-5">
                    @await Html.PartialAsync("_BasketPartial", Model.BasketVMs)
                </div>
                <div class="account col-lg-0-5">
                    <a class="accounthref">
                        <svg width="20" height="26" viewBox="0 0 21 26" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 25.2309C1 20.5077 5.14796 16.6788 10.2647 16.6788C15.3815 16.6788 19.5295 20.5077 19.5295 25.2309"
                                  stroke="#000000" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.2646 13.8281C13.807 13.8281 16.6787 10.9564 16.6787 7.41404C16.6787 3.87166 13.807 1 10.2646 1C6.72225 1 3.85059 3.87166 3.85059 7.41404C3.85059 10.9564 6.72225 13.8281 10.2646 13.8281Z"
                                  stroke="#000000" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <div class="accountinfo">
                        <ul>
                            @if (!User.Identity.IsAuthenticated || !User.IsInRole("Member"))
                            {
                                <li>
                                    <a asp-controller="Account" asp-action="Login">SIGN IN</a>
                                    <div>
                                        <span>HAVEN'T GOT AN ACCOUNT? </span>
                                        <a asp-controller="Account" asp-action="Register">REGISTER!</a>
                                    </div>
                                </li>
                            }
                            else if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                            {
                                <li>
                                    <a asp-controller="Account" asp-action="Logout">LOG OUT</a>
                                </li>
                                <li>
                                    <a asp-controller="Order" asp-action="Index">
                                        <span>MY PURCHASES</span>
                                        <span>
                                            <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                      fill="black" />
                                                <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                      fill="black" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Address" asp-action="Index">
                                        <span>MY ADDRESSES</span>
                                        <span>
                                            <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                      fill="black" />
                                                <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                      fill="black" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Card" asp-action="Index">
                                        <span>MY CARDS</span>
                                        <span>
                                            <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                      fill="black" />
                                                <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                      fill="black" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="AccountInfo" asp-action="Index">
                                        <span>ACCOUNT INFORMATION</span>
                                        <span>
                                            <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                      fill="black" />
                                                <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                      fill="black" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                            }
                            <li>
                                <a asp-controller="Wishlist" asp-action="Index" class="w-100 d-flex justify-content-between">
                                    <span>WISHLIST</span>
                                    <span>
                                        <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                  fill="black" />
                                            <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                  fill="black" />
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile">
        <div class="row d-flex  align-items-center justify-content-between navigation">

            <ion-icon name="menu-outline" class="hamburgermenu col-1"></ion-icon>

            <div class="sidebarmenu">
                <div class="headersidebarmenu">
                    <ul class="tab-menu col-6">
                        <li data-rel="tab1" class="active-tab woman col-6 bcgrgrey">
                            <a class="sidebar_ahref" asp-controller="Shop" asp-action="Index">
                                WOMAN
                            </a>
                        </li>
                        <li data-rel="tab2" class="col-6 man bcgrgrey">
                            <a class="sidebar_ahref" asp-controller="Shop" asp-action="Index">
                                MAN
                            </a>
                        </li>
                    </ul>
                    <ul class="headermenu col-6">
                        <li class="col-6 home">
                            <a asp-controller="Shop" asp-action="Index">
                                SHOP
                            </a>
                        </li>
                        <li class="col-3 home">
                            <a asp-controller="Home" asp-action="Index" class="homehref">
                                <ion-icon name="home-outline" class="sidebar_btn"></ion-icon>
                            </a>
                        </li>
                        <li class="col-3 close">
                            <ion-icon name="close-outline" class="sidebar_btn close_btn"></ion-icon>
                        </li>
                    </ul>
                </div>

                <div class="tab_container">
                    <ul id="tab1" class="tab_content">
                        @foreach (CategoryListVM category in Model.Categories.Where(x => x.GenderId == 1))
                        {
                            <li class="sidebar_menu_li">
                                <div class="imagekeeper col-2">
                                    <img src="~/assets/images/categories/@category.Image" class="img-fluid" alt="">
                                </div>
                                <a data-rel="woman" asp-controller="Shop" asp-action="Index" asp-route-parentcategoryid="@category.Id" asp-route-genderid="1" class="col-9">@category.Name.ToUpperInvariant()</a>
                            </li>
                        }
                    </ul>
                    <ul id="tab2" class="tab_content">
                        @foreach (CategoryListVM category in Model.Categories.Where(x => x.GenderId == 2))
                        {
                            <li class="sidebar_menu_li">
                                <div class="imagekeeper col-2">
                                    <img src="~/assets/images/categories/@category.Image" class="img-fluid" alt="">
                                </div>
                                <a data-rel="man" asp-controller="Shop" asp-action="Index" asp-route-parentcategoryid="@category.Id" asp-route-genderid="2" class="col-9">@category.Name.ToUpperInvariant()</a>
                            </li>
                        }
                    </ul>
                </div>
                <ul class="footer_sidebar">
                    <li>
                        <a asp-controller="Basket" asp-action="Index">CART</a>
                    </li>
                    <li>
                        <a asp-controller="About" asp-action="Index">ABOUT</a>
                    </li>
                    <li>
                        <a asp-controller="Contact" asp-action="Contact">CONTACT</a>
                    </li>
                    <li>
                        <a asp-controller="Faq" asp-action="Index">FAQ</a>
                    </li>
                </ul>
            </div>

            <div class="search col-5">
                <input class="search_input " id="header_search" placeholder="SEARCH" type="text" data-url="http://localhost:53427/Shop/Search">
                <a href="aparacag search controllere" class="headersearchhref">
                    <ion-icon name="search-outline" class="search_icon"></ion-icon>
                </a>
                <div class="searchmenu">
                    <div class="searchelements">
                        <ul class="searchulphone">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cart minibasketfetch col-1 forclosebasket">
                @await Html.PartialAsync("_BasketPartial", Model.BasketVMs)
            </div>

            <div class="account forcloseaccount col-2">
                <a class="accounthref forcloseaccount">
                    <svg class="forcloseaccount" width="20" height="26" viewBox="0 0 21 26" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 25.2309C1 20.5077 5.14796 16.6788 10.2647 16.6788C15.3815 16.6788 19.5295 20.5077 19.5295 25.2309"
                              stroke="#000000" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10.2646 13.8281C13.807 13.8281 16.6787 10.9564 16.6787 7.41404C16.6787 3.87166 13.807 1 10.2646 1C6.72225 1 3.85059 3.87166 3.85059 7.41404C3.85059 10.9564 6.72225 13.8281 10.2646 13.8281Z"
                              stroke="#000000" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
                <div class="accountinfo forcloseaccount">
                    <ul class="forcloseaccount">
                        @if (!User.Identity.IsAuthenticated || !User.IsInRole("Member"))
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Login" class="">SIGN IN</a>
                                <div class="">
                                    <span class="">HAVEN'T GOT AN ACCOUNT? </span>
                                    <a asp-controller="Account" asp-action="Register" class="">REGISTER!</a>
                                </div>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Logout" class="">LOG OUT</a>
                            </li>

                            <li>
                                <a asp-controller="Order" asp-action="Index">
                                    <span>MY PURCHASES</span>
                                    <span>
                                        <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                  fill="black" />
                                            <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                  fill="black" />
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Address" asp-action="Index">
                                    <span>MY ADDRESSES</span>
                                    <span>
                                        <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                  fill="black" />
                                            <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                  fill="black" />
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Card" asp-action="Index">
                                    <span>MY CARDS</span>
                                    <span>
                                        <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                  fill="black" />
                                            <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                  fill="black" />
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="AccountInfo" asp-action="Index">
                                    <span>ACCOUNT INFORMATION</span>
                                    <span>
                                        <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                                  fill="black" />
                                            <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                                  fill="black" />
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-controller="Wishlist" asp-action="Index" class="w-100 d-flex justify-content-between">
                                <span>WISHLIST</span>
                                <span>
                                    <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                                              fill="black" />
                                        <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                                              fill="black" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
