@media(max-width: 576px) {
    #third .newprodcs .newprodcs_element .element .product_name {
        position: absolute;
        bottom: 7%;
        text-align: center;
        width: 100%;
        font-weight: 500;
        color: black;
        font-size: 10px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }


    #third .newprodcs .newprodcs_element .element .product_price {
        position: absolute;
        top: 8%;
        right: 7%;
        padding: 3px 6px;
        background-color: var(--yellow);
        -webkit-transform: rotate(-9.44deg);
        transform: rotate(-9.44deg);
        color: black;
        font-weight: 500;
        font-size: 10px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }
}


@media(min-width: 1100px) and (max-width: 1200px) {

    #third .newprodcs .newprodcs_element .element .product_name {
        position: absolute;
        bottom: 30%;
        text-align: center;
        width: 100%;
        font-weight: 500;
        color: black;
        font-size: 15px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }

    #third .newprodcs .newprodcs_element .element .product_price {
        position: absolute;
        top: 5%;
        right: 8%;
        padding: 2px 7px;
        background-color: var(--yellow);
        -webkit-transform: rotate(-9.44deg);
        transform: rotate(-9.44deg);
        color: black;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }
}

@media(min-width: 1200px) and (max-width: 1349px) {

    #third .newprodcs .newprodcs_element .element .product_name {
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 100%;
        font-weight: 500;
        color: black;
        font-size: 15px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }

    #third .newprodcs .newprodcs_element .element .product_price {
        position: absolute;
        bottom: 5%;
        right: 6%;
        padding: 3px 8px;
        background-color: var(--yellow);
        -webkit-transform: rotate(-9.44deg);
        transform: rotate(-9.44deg);
        color: black;
        font-weight: 500;
        font-size: 16px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }
}

@media(min-width: 1200px) and (max-width: 1349px) {

    #third .newprodcs .newprodcs_element .element .product_name {
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 100%;
        font-weight: 500;
        color: black;
        font-size: 15px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }

    #third .newprodcs .newprodcs_element .element .product_price {
        position: absolute;
        bottom: 5%;
        right: 6%;
        padding: 3px 8px;
        background-color: var(--yellow);
        -webkit-transform: rotate(-9.44deg);
        transform: rotate(-9.44deg);
        color: black;
        font-weight: 500;
        font-size: 16px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }
}
