@model List<ProductToTagGetVM>

@if (Model != null)
{
    foreach (ProductToTagGetVM productToTag in Model)
    {
        <div style="padding:5px; border: 0.3px solid red; margin-right:5px">
            <a class="close deletetag" asp-area="Manage" asp-controller="Product" asp-action="DeleteTag" asp-route-id="@productToTag.Id" style="text-decoration: none;color: black;cursor: pointer;">
                @productToTag.Tag.Name
            </a>
        </div>
    }
}