@model IDictionary<string, string>

@foreach (var item in Model)
{
    <tr>
        <td class="col-lg-2 text-wrap">@item.Key</td>
        <td class="col-lg-6 text-wrap">@item.Value</td>
        <td class="col-lg-4 text-wrap">
            <div class="">
                <a style="padding: 7px;" class="Updatebtn btn btn-primary">Update</a>
            </div>
            <div class="d-none">
                <form class="updateForm d-flex justify-content-between flex-wrap" asp-area="Manage" asp-controller="Setting" asp-action="Update">
                    <input class="form-control" name="@item.Key" value="@item.Value" style="width: 280px;" />
                    <button class="btn btn-primary settingUpdatebtn">Update</button>
                </form>
            </div>
        </td>
    </tr>
}