@model OrderIndexVM

<main>
    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <div class="basketindex" style="opacity: 0; visibility: hidden;">.</div>

    <section class="breadcrumb">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ <a asp-controller="Basket" asp-action="Index">BASKET</a>&nbsp;/ CHECKOUT
                </div>
            </div>
        </div>
    </section>

    <section class="checkoutsection">
        <div class="container">
            <div class="row all">
                <p class="firstp">CHECK OUT</p>

                @await Html.PartialAsync("_CheckoutFormPartial", Model.OrderCreateVM)

                <div class="rightcheckout col-lg-5 col-12">
                    @await Html.PartialAsync("_CheckoutSubmitFormPartial", Model.Baskets.Sum(x => x.Count * x.Price))
                </div>

                @await Html.PartialAsync("_CheckoutAddAccountInfoFormPartial", new AppUserUpdateVM())

                @await Html.PartialAsync("_CheckoutAddAddressFormPartial", new AddressCreateVM())

                @await Html.PartialAsync("_CheckoutAddCardFormPartial", new CardCreateVM())

                <div class="boughtorders col-lg-12 col-12">
                    @await Html.PartialAsync("_CheckoutBasketsPartial", Model.Baskets)
                </div>
            </div>
        </div>
    </section>

    <section class="cardmodal ">
        <div class="closekeeper ">
            <ion-icon name="close-circle-outline" class="closecardmodal"></ion-icon>
            <div class="container dontclose">
                <div class="row all">
                    <p class="firstp col-lg-12 col-12">MY CARDS</p>
                    <div class="carddiv carddivforfetch col-lg-12 col-12">
                        @await Html.PartialAsync("_CheckoutCurrentUserCardPartial", Model.AppUserGetVM.Cards)
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="addressmodal">
        <div class="closekeeper">
            <ion-icon name="close-circle-outline" class="closeaddressmodal"></ion-icon>
            <div class="container dontclose">
                <div class="row all">
                    <p class="firstp col-lg-12 col-12">MY ADDRESSES</p>
                    <div class="addressdiv col-lg-12 col-12">
                        @await Html.PartialAsync("_CheckoutCurrentUserAddressPartial", Model.AppUserGetVM.Addresses)
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
