@model List<OrderListVM>

<main>
    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section class="breadcrumbregsiter">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ PURCHASES
                </div>
            </div>
        </div>
    </section>

    <section class="ordersection">
        <div class="container">
            <div class="row all">
                <p class="firstp">PURCHASES</p>

                <div class="col-lg-4 col-10 ordersearchkeeper">
                    <input data-url="http://localhost:53427/Order/Search" class="search_input_order" id="order_search" placeholder="SEARCH" type="text">
                    <a href="search uchun controller">
                        <ion-icon name="search-outline" class="search_icon_order"></ion-icon>
                    </a>
                </div>

                <ul class="head_categories col-12 col-lg-7">

                    <li class="headcategoryli">
                        <a asp-controller="Order" asp-action="SortOrders" asp-route-sortvalue="All" class="activespan categoryhref">ALL</a>
                    </li>

                    @foreach (var item in Enum.GetNames(typeof(OrderStatus)))
                    {
                        <li class="headcategoryli categoriesfororder">
                            <a asp-controller="Order" asp-action="SortOrders" asp-route-sortvalue="@item" class="categoryhref">@item.ToUpperInvariant()</a>
                        </li>
                    }
                </ul>
                <div class="orders col-lg-12 col-12">
                    @await Html.PartialAsync("_OrdersPartial", Model)
                </div>
            </div>
        </div>
    </section>
</main>
