
<main>
    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section class="breadcrumbregsiter">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ PURCHASES
                </div>
            </div>
        </div>
    </section>

    <section class="ordersection">
        <div class="container">
            <div class="row all">
                <p class="firstp">PURCHASES</p>
                <div class="col-lg-4 col-10 ordersearchkeeper">
                    <input class="search_input_order" id="order_search" placeholder="SEARCH" type="text">
                    <a href="search uchun controller">
                        <ion-icon name="search-outline" class="search_icon_order"></ion-icon>
                    </a>
                </div>
                <ul class="head_categories col-12 col-lg-7">
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">ALL</a>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref activespan">ACTIVE</a>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">PENDING</a>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">COURIER</a>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">DELIVERED</a>
                    </li>
                    <li class="headcategoryli">
                        <a href="" class="categoryhref">CANCELED</a>
                    </li>
                </ul>
                <div class="orders col-lg-12 col-12">

                    <div class="order col-lg-12 col-12">
                        <div class="top col-lg-12 col-12">
                            <div class="col-lg-2-2 col-7">
                                <span class="col-lg-12 col-12">ORDER DATE</span>
                                <span class="col-lg-12 col-12">
                                    04.08.2022 - 16.45
                                </span>
                            </div>
                            <div class="col-lg-2-2 col-5">
                                <span class="col-lg-12 col-12">SUMMARY</span>
                                <span class="col-lg-12 col-12">
                                    3 products
                                </span>
                            </div>
                            <div class="col-lg-2-2 col-7">
                                <span class="col-lg-12 col-12">BUYER</span>
                                <span class="col-lg-12 col-12">
                                    VASIF ALIYEV
                                </span>
                            </div>
                            <div class="col-lg-2-2 col-5">
                                <span class="col-lg-12 col-12">TOTAL</span>
                                <span class="col-lg-12 col-12">
                                    125 €
                                </span>
                            </div>
                            <div class="col-lg-2-2 col-12">
                                <span class="status col-lg-12 col-6">
                                    STATUS: COURIER
                                </span>
                                <span class="orderdet col-lg-12 col-6">
                                    ORDER DETAILS
                                </span>
                            </div>
                        </div>
                        <div class="bottom col-lg-12 col-12">
                            <a asp-controller="Shop" asp-action="ProductDetail" class="col-lg-12 col-12 orderitem">
                                <div class="col-lg-6 col-12">
                                    <div class="col-lg-12 first">
                                        SUCCESSFULLY DELIVERED
                                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.6 10.6L1.4 6.4L0 7.8L5.6 13.4L17.6 1.4L16.2 0L5.6 10.6Z"
                                                  fill="black" />
                                        </svg>
                                    </div>
                                    <div class="col-lg-12 second">
                                        This product was delivered at 13:34 2 august 2022
                                    </div>
                                    <div class="col-lg-12 third">
                                        <span class="col-lg-6 col-6">
                                            Tracking number:
                                        </span>
                                        <span class="col-lg-6 col-6">
                                            43523451352
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 orderinfo col-10">

                                    <div class="toptop col-lg-12 col-12">
                                        <p class="col-lg-8 col-8">
                                            Halter neck crop top
                                        </p>
                                        <span class="price col-lg-4 col-4">
                                            29 €
                                        </span>
                                        <p class="col-lg-12 col-12">
                                            Quantity: <span>1 pcs.</span>
                                        </p>
                                    </div>

                                    <div class="bottombottom col-lg-12 col-12">
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Seria:
                                            </span>
                                            <span class="col-lg-8 col-8">REF824</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Size:
                                            </span>
                                            <span class="col-lg-8 col-8">M</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Color:
                                            </span>
                                            <span class="col-lg-8 col-8">Beige</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Total:
                                            </span>
                                            <span class="col-lg-8 col-8">29 €</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-2">
                                    <img class="img-fluid" src="~/assets/images/Products/product18.jpg" alt="">
                                </div>
                            </a>
                            <a asp-controller="Shop" asp-action="ProductDetail" class="col-lg-12 col-12 orderitem">
                                <div class="col-lg-6 col-12">
                                    <div class="col-lg-12 first">
                                        SUCCESSFULLY DELIVERED
                                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.6 10.6L1.4 6.4L0 7.8L5.6 13.4L17.6 1.4L16.2 0L5.6 10.6Z"
                                                  fill="black" />
                                        </svg>
                                    </div>
                                    <div class="col-lg-12 second">
                                        This product was delivered at 13:34 2 august 2022
                                    </div>
                                    <div class="col-lg-12 third">
                                        <span class="col-lg-6 col-6">
                                            Tracking number:
                                        </span>
                                        <span class="col-lg-6 col-6">
                                            43523451352
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 orderinfo col-10">

                                    <div class="toptop col-lg-12 col-12">
                                        <p class="col-lg-8 col-8">
                                            Halter neck crop top
                                        </p>
                                        <span class="price col-lg-4 col-4">
                                            29 €
                                        </span>
                                        <p class="col-lg-12 col-12">
                                            Quantity: <span>1 pcs.</span>
                                        </p>
                                    </div>

                                    <div class="bottombottom col-lg-12 col-12">
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Seria:
                                            </span>
                                            <span class="col-lg-8 col-8">REF824</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Size:
                                            </span>
                                            <span class="col-lg-8 col-8">M</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Color:
                                            </span>
                                            <span class="col-lg-8 col-8">Beige</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Total:
                                            </span>
                                            <span class="col-lg-8 col-8">29 €</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-2">
                                    <img class="img-fluid" src="~/assets/images/Products/product18.jpg" alt="">
                                </div>
                            </a>
                            <a asp-controller="Shop" asp-action="ProductDetail" class="col-lg-12 col-12 orderitem">
                                <div class="col-lg-6 col-12">
                                    <div class="col-lg-12 first">
                                        SUCCESSFULLY DELIVERED
                                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.6 10.6L1.4 6.4L0 7.8L5.6 13.4L17.6 1.4L16.2 0L5.6 10.6Z"
                                                  fill="black" />
                                        </svg>
                                    </div>
                                    <div class="col-lg-12 second">
                                        This product was delivered at 13:34 2 august 2022
                                    </div>
                                    <div class="col-lg-12 third">
                                        <span class="col-lg-6 col-6">
                                            Tracking number:
                                        </span>
                                        <span class="col-lg-6 col-6">
                                            43523451352
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 orderinfo col-10">

                                    <div class="toptop col-lg-12 col-12">
                                        <p class="col-lg-8 col-8">
                                            Halter neck crop top
                                        </p>
                                        <span class="price col-lg-4 col-4">
                                            29 €
                                        </span>
                                        <p class="col-lg-12 col-12">
                                            Quantity: <span>1 pcs.</span>
                                        </p>
                                    </div>

                                    <div class="bottombottom col-lg-12 col-12">
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Seria:
                                            </span>
                                            <span class="col-lg-8 col-8">REF824</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Size:
                                            </span>
                                            <span class="col-lg-8 col-8">M</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Color:
                                            </span>
                                            <span class="col-lg-8 col-8">Beige</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Total:
                                            </span>
                                            <span class="col-lg-8 col-8">29 €</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-2">
                                    <img class="img-fluid" src="~/assets/images/Products/product18.jpg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="order col-lg-12 col-12">
                        <div class="top col-lg-12 col-12">
                            <div class="col-lg-2-2 col-7">
                                <span class="col-lg-12 col-12">ORDER DATE</span>
                                <span class="col-lg-12 col-12">
                                    04.08.2022 - 16.45
                                </span>
                            </div>
                            <div class="col-lg-2-2 col-5">
                                <span class="col-lg-12 col-12">SUMMARY</span>
                                <span class="col-lg-12 col-12">
                                    3 products
                                </span>
                            </div>
                            <div class="col-lg-2-2 col-7">
                                <span class="col-lg-12 col-12">BUYER</span>
                                <span class="col-lg-12 col-12">
                                    VASIF ALIYEV
                                </span>
                            </div>
                            <div class="col-lg-2-2 col-5">
                                <span class="col-lg-12 col-12">TOTAL</span>
                                <span class="col-lg-12 col-12">
                                    125 €
                                </span>
                            </div>
                            <div class="col-lg-2-2 col-12">
                                <span class="status col-lg-12 col-6">
                                    STATUS: COURIER
                                </span>
                                <span class="orderdet col-lg-12 col-6">
                                    ORDER DETAILS
                                </span>
                            </div>
                        </div>
                        <div class="bottom col-lg-12 col-12">
                            <a asp-controller="Shop" asp-action="ProductDetail" class="col-lg-12 col-12 orderitem">
                                <div class="col-lg-6 col-12">
                                    <div class="col-lg-12 first">
                                        SUCCESSFULLY DELIVERED
                                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.6 10.6L1.4 6.4L0 7.8L5.6 13.4L17.6 1.4L16.2 0L5.6 10.6Z"
                                                  fill="black" />
                                        </svg>
                                    </div>
                                    <div class="col-lg-12 second">
                                        This product was delivered at 13:34 2 august 2022
                                    </div>
                                    <div class="col-lg-12 third">
                                        <span class="col-lg-6 col-6">
                                            Tracking number:
                                        </span>
                                        <span class="col-lg-6 col-6">
                                            43523451352
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 orderinfo col-10">

                                    <div class="toptop col-lg-12 col-12">
                                        <p class="col-lg-8 col-8">
                                            Halter neck crop top
                                        </p>
                                        <span class="price col-lg-4 col-4">
                                            29 €
                                        </span>
                                        <p class="col-lg-12 col-12">
                                            Quantity: <span>1 pcs.</span>
                                        </p>
                                    </div>

                                    <div class="bottombottom col-lg-12 col-12">
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Seria:
                                            </span>
                                            <span class="col-lg-8 col-8">REF824</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Size:
                                            </span>
                                            <span class="col-lg-8 col-8">M</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Color:
                                            </span>
                                            <span class="col-lg-8 col-8">Beige</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Total:
                                            </span>
                                            <span class="col-lg-8 col-8">29 €</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-2">
                                    <img class="img-fluid" src="~/assets/images/Products/product18.jpg" alt="">
                                </div>
                            </a>
                            <a asp-controller="Shop" asp-action="ProductDetail" class="col-lg-12 col-12 orderitem">
                                <div class="col-lg-6 col-12">
                                    <div class="col-lg-12 first">
                                        SUCCESSFULLY DELIVERED
                                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.6 10.6L1.4 6.4L0 7.8L5.6 13.4L17.6 1.4L16.2 0L5.6 10.6Z"
                                                  fill="black" />
                                        </svg>
                                    </div>
                                    <div class="col-lg-12 second">
                                        This product was delivered at 13:34 2 august 2022
                                    </div>
                                    <div class="col-lg-12 third">
                                        <span class="col-lg-6 col-6">
                                            Tracking number:
                                        </span>
                                        <span class="col-lg-6 col-6">
                                            43523451352
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 orderinfo col-10">

                                    <div class="toptop col-lg-12 col-12">
                                        <p class="col-lg-8 col-8">
                                            Halter neck crop top
                                        </p>
                                        <span class="price col-lg-4 col-4">
                                            29 €
                                        </span>
                                        <p class="col-lg-12 col-12">
                                            Quantity: <span>1 pcs.</span>
                                        </p>
                                    </div>

                                    <div class="bottombottom col-lg-12 col-12">
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Seria:
                                            </span>
                                            <span class="col-lg-8 col-8">REF824</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Size:
                                            </span>
                                            <span class="col-lg-8 col-8">M</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Color:
                                            </span>
                                            <span class="col-lg-8 col-8">Beige</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Total:
                                            </span>
                                            <span class="col-lg-8 col-8">29 €</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-2">
                                    <img class="img-fluid" src="~/assets/images/Products/product18.jpg" alt="">
                                </div>
                            </a>
                            <a asp-controller="Shop" asp-action="ProductDetail" class="col-lg-12 col-12 orderitem">
                                <div class="col-lg-6 col-12">
                                    <div class="col-lg-12 first">
                                        SUCCESSFULLY DELIVERED
                                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.6 10.6L1.4 6.4L0 7.8L5.6 13.4L17.6 1.4L16.2 0L5.6 10.6Z"
                                                  fill="black" />
                                        </svg>
                                    </div>
                                    <div class="col-lg-12 second">
                                        This product was delivered at 13:34 2 august 2022
                                    </div>
                                    <div class="col-lg-12 third">
                                        <span class="col-lg-6 col-6">
                                            Tracking number:
                                        </span>
                                        <span class="col-lg-6 col-6">
                                            43523451352
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 orderinfo col-10">

                                    <div class="toptop col-lg-12 col-12">
                                        <p class="col-lg-8 col-8">
                                            Halter neck crop top
                                        </p>
                                        <span class="price col-lg-4 col-4">
                                            29 €
                                        </span>
                                        <p class="col-lg-12 col-12">
                                            Quantity: <span>1 pcs.</span>
                                        </p>
                                    </div>

                                    <div class="bottombottom col-lg-12 col-12">
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Seria:
                                            </span>
                                            <span class="col-lg-8 col-8">REF824</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Size:
                                            </span>
                                            <span class="col-lg-8 col-8">M</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Color:
                                            </span>
                                            <span class="col-lg-8 col-8">Beige</span>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <span class="col-lg-4 col-4">
                                                Total:
                                            </span>
                                            <span class="col-lg-8 col-8">29 €</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-2">
                                    <img class="img-fluid" src="~/assets/images/Products/product18.jpg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="noordersyet col-lg-12 col-12">
                        <p class="col-lg-10 col-10">
                            You haven't got any order. Try to make one ;)
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
