@model CardIndexVM

<main>
    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section class="breadcrumbregsiter">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ CARDS
                </div>
            </div>
        </div>
    </section>

    <section class="mycards">
        <div class="container">
            <div class="row all">
                <p class="firstp col-lg-12 col-12">MY CARDS</p>
                <div class="carddiv cardsforfetch col-lg-12 col-12">
                    @if (Model.Cards != null)
                    {
                        @await Html.PartialAsync("_CardListPartial", Model.Cards)
                    }

                    @if (Model.Cards.Count < 3)
                    {
                        @await Html.PartialAsync("_CreateCardFormPartial", Model.CardCreateVM)
                    }
                </div>
            </div>
        </div>
    </section>

</main>
