@model AddressIndexVM

<main>
    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section class="breadcrumbregsiter">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ ADDRESSES
                </div>
            </div>
        </div>
    </section>

    <section class="myaddresses">
        <div class="container">
            <div class="row all">
                <p class="firstp col-lg-12 col-12">MY ADDRESSES</p>
                <div class="addressdiv addressforfetch col-lg-12 col-12">
                    @if (Model.Addresses != null)
                    {
                        @await Html.PartialAsync("_AddressListPartial", Model.Addresses)
                    }

                    @if (Model.Addresses.Count < 3)
                    {
                        @await Html.PartialAsync("_CreateAddressFormPartial", Model.AddressCreateVM)
                    }
                </div>
            </div>
        </div>
    </section>

</main>

