
<main>
    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section class="breadcrumbregsiter">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ ADDRESSES
                </div>
            </div>
        </div>
    </section>

    <section class="myaddresses">
        <div class="container">
            <div class="row all">
                <p class="firstp col-lg-12 col-12">MY ADDRESSES</p>
                <div class="addressdiv col-lg-12 col-12">

                    <div class="addressinozu col-lg-4 col-12">
                        <div class="addressozu col-lg-12 col-12">

                            <div class="top">
                                <span class="cityname col-lg-12 col-12">
                                    City: BAKU
                                </span>
                                <span class="countryname col-lg-12 col-12">
                                    Country: AZERBAIJAN
                                </span>
                            </div>
                            <div class="bottom">
                                <span class="address1name col-lg-12 col-12">
                                    <span class="col-lg-12 col-12">
                                        Address1:
                                    </span>
                                    <span class="col-lg-12">
                                        Tabriz str. 999, ap. 61
                                    </span>
                                </span>
                                <span class="address2name col-lg-12 col-12">
                                    <span class="col-lg-12 col-12">
                                        Address2:
                                    </span>
                                    <span class="col-lg-12 col-12">
                                        Narimanov dis.
                                    </span>
                                </span>
                                <span class="zipcodename col-lg-12 col-12">
                                    <span class="col-lg-12 col-12">
                                        ZIP code:
                                    </span>
                                    <span class="col-lg-12 col-12">
                                        AZ1000
                                    </span>
                                </span>
                            </div>
                            <span class="deleteaddress">
                                <a asp-controller="Address" asp-action="DeleteAddress">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.75 4.2998V22.9998H20.25V4.2998H3.75Z" stroke="black"
                                              stroke-linejoin="round" />
                                        <path d="M9.8 9.7998V16.9498M14.2 9.7998V16.9498M1 4.2998H23" stroke="black"
                                              stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.60059 4.3L9.40954 1H14.6279L16.4006 4.3H7.60059Z" stroke="black"
                                              stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </span>
                            <span class=" ismain">Main Address</span>
                        </div>
                    </div>

                    <div class="addressinozu col-lg-4 col-12">
                        <div class="addressozu col-lg-12 col-12">

                            <div class="top">
                                <span class="cityname col-lg-12 col-12">
                                    City: BAKU
                                </span>
                                <span class="countryname col-lg-12 col-12">
                                    Country: AZERBAIJAN
                                </span>
                            </div>
                            <div class="bottom">
                                <span class="address1name col-lg-12 col-12">
                                    <span class="col-lg-12 col-12">
                                        Address1:
                                    </span>
                                    <span class="col-lg-12">
                                        Tabriz str. 999, ap. 61
                                    </span>
                                </span>
                                <span class="address2name col-lg-12 col-12">
                                    <span class="col-lg-12 col-12">
                                        Address2:
                                    </span>
                                    <span class="col-lg-12 col-12">
                                        Narimanov dis.
                                    </span>
                                </span>
                                <span class="zipcodename col-lg-12 col-12">
                                    <span class="col-lg-12 col-12">
                                        ZIP code:
                                    </span>
                                    <span class="col-lg-12 col-12">
                                        AZ1000
                                    </span>
                                </span>
                            </div>
                            <span class="deleteaddress">
                                <a asp-controller="Address" asp-action="DeleteAddress">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.75 4.2998V22.9998H20.25V4.2998H3.75Z" stroke="black"
                                              stroke-linejoin="round" />
                                        <path d="M9.8 9.7998V16.9498M14.2 9.7998V16.9498M1 4.2998H23" stroke="black"
                                              stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.60059 4.3L9.40954 1H14.6279L16.4006 4.3H7.60059Z" stroke="black"
                                              stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </span>
                            <span class="makemain">
                                <a asp-controller="Address" asp-action="MakeMain">
                                    MAKE MAIN
                                </a>
                            </span>
                        </div>
                    </div>

                    <div class="addressform col-lg-4 col-12">

                        <p class="clicktoaddnewaddress">
                            ADD NEW
                        </p>

                        <div class="again_allcontent">
                            <div class="allcontent col-lg-12 col-12">

                                <form action="" method="post" id="addnewaddressform"
                                      class="addressozu col-lg-12 col-12 addnewaddressform">

                                    <input name="address1" class="col-12 col-lg-12 addressaddress1"
                                           id="addressaddress1" type="text" required placeholder="ADDRESS 1">

                                    <input name="address2" class="col-12 col-lg-12 addressaddress2"
                                           id="addressaddress2" type="text" placeholder="ADDRESS 2">

                                    <input name="country" id="addresscountry"
                                           class="col-12 col-lg-12 addresscountry" type="text" required
                                           placeholder="COUNTRY">

                                    <input name="city" id="addresscity" class="col-12 col-lg-12 addresscity"
                                           type="text" required placeholder="CITY">

                                    <input name="zipcode" id="addresszipcode"
                                           class="col-12 col-lg-12 addresszipcode" type="text" required max="10"
                                           maxlength="10" title="ZIP code must be at most 10 characters!"
                                           placeholder="ZIP code">

                                    <button form="addnewaddressform" type="submit"
                                            class="addresschangebtn col-lg-2-5 col-2-5" value="save">
                                        SAVE
                                    </button>

                                    <button type="button" class="cancelnewaddress col-lg-2-5 col-2-5"
                                            value="save">
                                        CANCEL
                                    </button>

                                    <button form="addnewaddressform" type="submit"
                                            class="addresschangebtn col-lg-6-5 col-6-5" value="add">
                                        SAVE AND MAKE MAIN
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>

