@using Pull_Bear.Service.Interfaces
@inject ILayoutService layoutService

@{
    List<BasketVM> basketVMs = await layoutService.GetBasket();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/styles/plugins/bootstrap-5.0.2-dist/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/assets/styles/plugins/star-rating.js/dist/star-rating.css">

    <link rel="stylesheet" href="~/assets/styles/plugins/click-tap-image/css/image-zoom.css">

    <link rel="stylesheet" href="~/assets/styles/plugins/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="~/assets/styles/plugins/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="~/assets/styles/plugins/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" href="~/assets/images/settings/favicon_pb.png">

    <link rel="stylesheet" href="~/assets/styles/style.css" asp-append-version="true">

    <link rel="stylesheet" href="~/assets/Custom.css" asp-append-version="true">

    <title>Pull & Bear</title>
</head>

<body class="body">

    @*@if (TempData["error"] != null)
        {
            <input type="hidden" id="errorinput" value="@TempData["error"]" />
        }

        @if (TempData["success"] != null)
        {
            <input type="hidden" id="successInput" value="@TempData["success"]" />
        }*@

    <input type="hidden" id="fetchinput" value="" />

    <div class="preloader">
        <div class="preloader__row">
            <div class="preloader__item"></div>
            <div class="preloader__item"></div>
        </div>
    </div>

    @await Component.InvokeAsync("Header")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    <!-- JQUERY  -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Ion icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Star Rating -->
    <script src="~/assets/styles/plugins/star-rating.js/dist/star-rating.min.js"></script>
    <!-- zoom image -->
    <script src="~/assets/styles/plugins/click-tap-image/js/image-zoom.js"></script>
    <!-- SLICK -->
    <script type="text/javascript" src="~/assets/styles/plugins/slick-1.8.1/slick/slick.js"></script>
    <!-- TOASTR-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <!-- My JS -->
    <script src="~/assets/scripts/main.js" asp-append-version="true"></script>
</body>

</html>
