@model List<ProductListVM>

@foreach (ProductListVM item in Model)
{
    <li>
        <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
            <span class="col-lg-2 col-2">
                <img src="~/assets/images/products/@item.Id/@item.ShopImage" alt=""
                     class="img-fluid">
            </span>
            <span class="col-lg-9 col-9 osnovnayainfa">
                <span class="col-lg-9 col-9">@item.Name.ToUpperInvariant()</span>
                <span class="strelka col-lg-3 col-3">
                    <svg width="43" height="13" viewBox="0 0 43 13" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 5.65C0.806698 5.65 0.649998 5.8067 0.649998 6C0.649998 6.1933 0.806698 6.35 1 6.35L1 5.65ZM41 6.35C41.1933 6.35 41.35 6.1933 41.35 6C41.35 5.8067 41.1933 5.65 41 5.65L41 6.35ZM1 6.35L41 6.35L41 5.65L1 5.65L1 6.35Z"
                              fill="black" />
                        <path d="M33.5108 0.703211C33.3469 0.600762 33.131 0.650593 33.0285 0.81451C32.9261 0.978428 32.9759 1.19436 33.1398 1.29681L33.5108 0.703211ZM42 6.4217L42.1855 6.7185C42.2878 6.65454 42.35 6.54237 42.35 6.4217C42.35 6.30102 42.2878 6.18886 42.1855 6.1249L42 6.4217ZM33.1398 11.5466C32.9759 11.649 32.9261 11.865 33.0285 12.0289C33.1309 12.1928 33.3469 12.2426 33.5108 12.1402L33.1398 11.5466ZM33.1398 1.29681L41.8145 6.7185L42.1855 6.1249L33.5108 0.703211L33.1398 1.29681ZM41.8145 6.1249L33.1398 11.5466L33.5108 12.1402L42.1855 6.7185L41.8145 6.1249Z"
                              fill="black" />
                    </svg>
                </span>
            </span>
        </a>
    </li>
}