

<form method="post" enctype="multipart/form-data" id="postreview" class="col-lg-12 col-12" asp-controller="Shop" asp-action="AddReview">

    <div class="col-lg-3 col-4-5 inpkeeper">
        <input type="text" name="reviewname" id="reviewname" class="col-lg-12 col-12"
               placeholder="Name" required>

        <input type="text" name="reviewsurname" id="reviewsurname" class="col-lg-12 col-12"
               placeholder="Surname" required>
    </div>

    <textarea class="col-lg-6 col-7 reviewarea" name="reviewtext" id="reviewtext"
              placeholder="Your review..." required></textarea>

    <span class="clearreview">
        <ion-icon name="close-outline" class="clearreviewicon"></ion-icon>
    </span>

    <label for="upload">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style=""></span>
        <input multiple type="file" id="upload" style="display:none">
    </label>

    <div class="col-lg-1-5 col-12 lastdiv">
        <button type="submit" class="addreviewbtn col-lg-12 col-4-5"
                form="postreview">
            POST
        </button>

        <select class="star_rating col-lg-12 col-7">
            <option value="5"></option>
            <option value="4"></option>
            <option value="3"></option>
            <option value="2"></option>
            <option value="1"></option>
        </select>
    </div>
</form>
