* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NeuePowerLight;
    src: url(../fonts/Neue_Power/NeuePower-Light.ttf);
}

@font-face {
    font-family: NeuePowerMedium;
    src: url(../fonts/Neue_Power/NeuePower-Medium.ttf);
}

@font-face {
    font-family: NeuePowerRegular;
    src: url(../fonts/Neue_Power/NeuePower-Regular.ttf);
}

@font-face {
    font-family: NeuePowerUltra;
    src: url(../fonts/Neue_Power/NeuePower-Ultra.ttf);
}

@font-face {
    font-family: NeuePowerBold;
    src: url(../fonts/Neue_Power/NeuePower-Bold.ttf);
}

:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.where {
    opacity: 0;
    margin-top: 30px;
}

@media(max-width: 576px) {

    .checkoutsection {
        margin-top: 10px;

        .all {
            display: flex;
            justify-content: space-between;

            .firstp {
                font-family: var(--neueultra);
                font-size: 25px;
                text-align: center;
                letter-spacing: 0.08em;
                color: var(--yellow);
                margin-bottom: 20px;
            }

            .leftcheckout {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                order: 1;
                align-items: center;

                .top,
                .bottom {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    input {
                        margin-bottom: 8px;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 114%;
                        font-family: var(--neueregular);
                        letter-spacing: 0.08em;
                        background-color: white;
                        border: none;
                        outline: none;
                        color: black;

                        &[disabled] {
                            -webkit-text-fill-color: black;
                            opacity: 1;
                        }
                    }

                    div {
                        margin-bottom: 8px;

                        &:nth-child(1) {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            position: relative;

                            span {
                                &:nth-child(1) {
                                    font-weight: 800;
                                    font-size: 20px;
                                    line-height: 24px;
                                    font-family: var(--neueultra);
                                    letter-spacing: 0.08em;
                                }

                                &:nth-child(2) {
                                    font-weight: 800;
                                    font-size: 14px;
                                    line-height: 24px;
                                    font-family: var(--neueregular);
                                    letter-spacing: 0.08em;
                                    text-decoration: underline;
                                    text-align: end;
                                }

                                &:nth-child(3) {
                                    position: absolute;
                                    top: 0px;
                                    right: 80px;
                                    font-weight: 800;
                                    font-size: 14px;
                                    line-height: 24px;
                                    font-family: var(--neueregular);
                                    letter-spacing: 0.08em;
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }
                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 114%;
                            font-family: var(--neueregular);
                            letter-spacing: 0.08em;
                        }
                    }

                    .addaddressform {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;

                        .checkoutcity {
                            display: flex;
                            flex-direction: column;
                            padding-right: 5px;
                        }

                        .checkoutcountry {
                            display: flex;
                            flex-direction: column;
                            padding-left: 5px;
                        }

                        label {
                            font-family: var(--neuelight);
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 127%;
                            letter-spacing: 0.08em;

                            span {
                                color: red;
                            }
                        }

                        button {
                            background-color: black;
                            text-align: center;
                            padding: 4px 0;
                            color: white;
                            font-family: var(--neueregular);
                            font-weight: 400;
                            font-size: 14px;
                            margin-bottom: 5px;
                            letter-spacing: 0.08em;
                        }

                        input {
                            border: 1px solid black;
                            outline: none;
                            border-radius: 3px;
                            margin-top: 5px;
                            margin-bottom: 10px;
                            box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
                            padding: 5px 10px;
                            font-family: var(--neuelight);
                            font-weight: 300;
                            font-size: 15px;
                            letter-spacing: 0.08em;
                        }
                    }
                }

                .carddiv {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    align-items: center;

                    span {
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 114%;
                        font-family: var(--neuebold);
                        letter-spacing: 0.08em;
                        margin-bottom: 10px;
                    }

                    .bashliq {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;

                        span {
                            &:nth-child(1) {
                                font-weight: 800;
                                font-size: 20px;
                                line-height: 24px;
                                font-family: var(--neueultra);
                                letter-spacing: 0.08em;
                            }

                            &:nth-child(2) {
                                font-weight: 800;
                                font-size: 14px;
                                line-height: 24px;
                                font-family: var(--neueregular);
                                letter-spacing: 0.08em;
                                text-decoration: underline;
                                text-align: end;
                            }

                            &:nth-child(3) {
                                position: absolute;
                                top: 0px;
                                right: 80px;
                                font-weight: 800;
                                font-size: 14px;
                                line-height: 24px;
                                font-family: var(--neueregular);
                                letter-spacing: 0.08em;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }

                    .cardozu {
                        border: 0.8px solid black;
                        border-radius: 10px;
                        background-color: white;
                        height: 200px;
                        position: relative;

                        input {
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 114%;
                            font-family: var(--neuebold);
                            letter-spacing: 0.08em;
                            margin-bottom: 10px;
                            border: none;
                            outline: none;
                            color: black;
                            background-color: white;
                            position: absolute;

                            &[disabled] {
                                -webkit-text-fill-color: black;
                                opacity: 1;
                            }

                            &:nth-child(2) {
                                top: 4%;
                                left: 12px;
                                text-align: start;
                                width: 60%;
                            }

                            &:nth-child(3) {
                                top: 16%;
                                left: 12px;
                                text-align: start;
                            }

                            &:nth-child(4) {
                                bottom: 0%;
                                left: 12px;
                                width: 80%;
                                text-align: start;
                            }
                        }

                        span {

                            &:nth-child(1) {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                            }

                            &:nth-child(2) {
                                position: absolute;
                                bottom: 10%;
                                right: 10px;
                            }

                            &:nth-child(3) {
                                position: absolute;
                                bottom: 0%;
                                right: 10px;
                            }

                            &:nth-child(4) {
                                position: absolute;
                                bottom: 0%;
                                left: 10px;
                            }
                        }
                    }
                }

                .cardform {
                    position: relative;

                    .again_allcontent {
                        border: 0.8px solid black;
                        border-radius: 10px;
                        height: 200px;
                        color: black;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .allcontent {

                            .cardozu {
                                background-color: white;
                                color: black;
                                position: relative;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-wrap: wrap;

                                button {
                                    margin-top: 10px;
                                    background-color: black;
                                    text-align: center;
                                    padding: 5px 0;
                                    color: white;
                                    font-family: var(--neueregular);
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 114%;
                                    letter-spacing: 0.08em;
                                }

                                input {
                                    border: 1px solid black;
                                    outline: none;
                                    border-radius: 3px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
                                    padding: 5px 8px;
                                    font-family: var(--neuelight);
                                    font-weight: 300;
                                    font-size: 13px;
                                    letter-spacing: 0.08em;
                                }
                            }
                        }
                    }
                }
            }

            .rightcheckout {
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                order: 3;

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    span {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 114%;
                        letter-spacing: 0.08em;
                        font-family: var(--neueregular);

                        &:nth-child(1),
                        &:nth-child(2) {
                            padding-bottom: 10px;
                        }

                        &:nth-child(2),
                        &:nth-child(4) {
                            font-family: var(--neuebold);
                            text-align: end;
                        }
                    }
                }

                .middle {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    border-bottom: 1px solid black;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    span {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 114%;
                        letter-spacing: 0.08em;
                        font-family: var(--neueregular);

                        &:nth-child(2) {
                            text-align: end;
                            font-family: var(--neuebold);
                        }
                    }
                }

                .bottom {
                    display: flex;
                    flex-direction: column;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    width: 100%;

                    .aldiq {
                        font-family: var(--neueregular);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 114%;
                        letter-spacing: 0.08em;
                        width: 100%;
                        padding: 20px;
                        background-color: var(--yellow);
                        border: 1px solid black;
                        color: black;
                        text-align: center;
                        margin-bottom: 25px;
                    }

                    .paywith {
                        border-top: 1px solid black;
                        font-family: var(--neuemedium);
                        padding-top: 25px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;

                        span {
                            font-weight: 500;
                            font-size: 12px;
                            font-family: var(--neueregular);
                            letter-spacing: 0.08em;
                            margin-bottom: 15px;
                        }

                        a {

                            &:nth-child(1) {
                                font-weight: 300;
                                font-size: 12px;
                                letter-spacing: 0.08em;
                                text-decoration: underline;
                            }

                            &:nth-child(2) {
                                font-family: var(--neuemedium);
                                font-weight: 500;
                                font-size: 10px;
                                line-height: 127%;
                                letter-spacing: 0.08em;
                            }

                            &:nth-child(3) {
                                margin-top: 20px;
                                padding: 10px;
                                text-align: center;
                                width: 100%;
                                border: 1px solid black;
                                font-weight: 300;
                                font-size: 10px;
                                line-height: 12px;
                                letter-spacing: 0.08em;
                            }
                        }
                    }
                }
            }

            .formkeeper {
                position: relative;
                margin-bottom: 30px;
                order: 3;

                .closeform {
                    position: absolute;
                    top: -20px;
                    right: 10px;
                    font-size: 30px;
                    cursor: pointer;
                }
            }

            .forminfokeeper {
                display: none;

                .changeaccountinfoform {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .checkoutaccinfoname {
                        display: flex;
                        flex-direction: column;
                        padding-right: 5px;
                    }

                    .checkoutaccinfosurname {
                        display: flex;
                        flex-direction: column;
                        padding-left: 5px;
                    }

                    label {
                        font-family: var(--neuelight);
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 127%;
                        letter-spacing: 0.08em;

                        span {
                            color: red;
                        }
                    }

                    button {
                        margin-top: 20px;
                        width: 100%;
                        background-color: black;
                        text-align: center;
                        padding: 10px 0;
                        color: white;
                        font-family: var(--neueregular);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 114%;
                        letter-spacing: 0.08em;
                    }

                    input {
                        width: 100%;
                        border: 1px solid black;
                        outline: none;
                        border-radius: 3px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
                        padding: 5px 10px;
                        font-family: var(--neuelight);
                        font-weight: 300;
                        font-size: 15px;
                        letter-spacing: 0.08em;

                        &[disabled] {
                            -webkit-text-fill-color: black;
                            opacity: 1;
                        }
                    }
                }
            }

            .formaddresskeeper {
                display: block;
                margin-top: 30px;

                .changeaddressform {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .checkoutcity {
                        display: flex;
                        flex-direction: column;
                        padding-right: 5px;
                    }

                    .checkoutcountry {
                        display: flex;
                        flex-direction: column;
                        padding-left: 5px;
                    }

                    label {
                        font-family: var(--neuelight);
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 127%;
                        letter-spacing: 0.08em;

                        span {
                            color: red;
                        }
                    }

                    button {
                        margin-top: 10px;
                        width: 100%;
                        background-color: black;
                        text-align: center;
                        padding: 10px 0;
                        color: white;
                        font-family: var(--neueregular);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 114%;
                        letter-spacing: 0.08em;
                    }

                    input {
                        border: 1px solid black;
                        outline: none;
                        border-radius: 3px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
                        padding: 5px 10px;
                        font-family: var(--neuelight);
                        font-weight: 300;
                        font-size: 15px;
                        letter-spacing: 0.08em;

                        &[disabled] {
                            -webkit-text-fill-color: black;
                            opacity: 1;
                        }
                    }
                }
            }

            .formcardkeeper {
                display: none;
                margin-top: 30px;

                .closeform {
                    position: absolute;
                    top: -35px !important;
                    right: 10px;
                    font-size: 30px;
                    cursor: pointer;
                }

                .bash {
                    border: 1px solid black;
                    border-radius: 3px;
                    margin-bottom: 10px;
                    display: flex;
                    padding: 5px 20px;
                    justify-content: space-between;
                    align-items: center;

                    .left {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        font-family: var(--neueregular);

                        span {
                            &:nth-child(1) {
                                padding-bottom: 2px;

                                img {
                                    padding-bottom: 2px;
                                }
                            }

                            &:nth-child(2) {
                                padding-left: 10px;
                            }
                        }
                    }

                    .right {
                        display: flex;
                        align-items: center;

                        span {
                            display: flex;
                            justify-content: end;
                            align-items: center;

                            &:nth-child(2) {
                                justify-content: start;
                                padding-left: 5px;
                            }
                        }
                    }
                }

                .changecardform {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .checkoutcity {
                        display: flex;
                        flex-direction: column;
                        padding-right: 5px;
                    }

                    .checkoutcountry {
                        display: flex;
                        flex-direction: column;
                        padding-left: 5px;
                    }

                    label {
                        font-family: var(--neuelight);
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 127%;
                        letter-spacing: 0.08em;
                        width: 100%;

                        span {
                            color: red;
                        }
                    }

                    button {
                        margin-top: 10px;
                        width: 100%;
                        background-color: black;
                        text-align: center;
                        padding: 10px 0;
                        color: white;
                        font-family: var(--neueregular);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 114%;
                        letter-spacing: 0.08em;
                    }

                    input {
                        border: 1px solid black;
                        outline: none;
                        border-radius: 3px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
                        padding: 5px 10px;
                        font-family: var(--neuelight);
                        font-weight: 300;
                        font-size: 15px;
                        letter-spacing: 0.08em;

                        &[disabled] {
                            -webkit-text-fill-color: black;
                            opacity: 1;
                        }
                    }
                }
            }

            .boughtorders {
                margin-top: 20px;
                margin-bottom: 40px;
                order: 2;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .orderdet {
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: var(--neueultra);
                    letter-spacing: 0.08em;
                    margin-bottom: 15px;
                }

                div {
                    position: relative;
                    padding: 4px;

                    .deletebasketelementfromcheckout {
                        position: absolute;
                        top: 3%;
                        right: 5%;
                    }
                }
            }
        }
    }

    .cardmodal {
        position: fixed;
        width: 90%;
        height: 85vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        z-index: 987654;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 3px var(--yellow);
        overflow-y: scroll;
        display: none;

        .closekeeper {
            position: relative;
            width: 100%;

            .closecardmodal {
                position: absolute;
                top: 0px;
                cursor: pointer;
                right: 0px;
                font-size: 35px;
                z-index: 21432432;
            }
        }

        .all {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;

            .firstp {
                font-family: var(--neueultra);
                font-size: 20px;
                text-align: center;
                letter-spacing: 0.08em;
                color: var(--yellow);
                margin-bottom: 15px;
            }

            .carddiv {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 30px;
                align-items: center;

                .cardinozu {
                    padding: 0 10px;
                    margin-top: 20px;
                    cursor: pointer;

                    .cardozu {
                        border: 0.8px solid black;
                        border-radius: 10px;
                        background-color: white;
                        height: 150px;
                        color: black;
                        position: relative;

                        span {
                            font-weight: 700;
                            font-size: 10px;
                            line-height: 114%;
                            font-family: var(--neuebold);
                            letter-spacing: 0.08em;
                            color: black;
                            background-color: white;
                            margin-bottom: 10px;
                            position: absolute;

                            &:nth-child(1) {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                            }

                            &:nth-child(2) {
                                position: absolute;
                                top: 4%;
                                left: 10px;
                            }

                            &:nth-child(3) {
                                position: absolute;
                                top: 14%;
                                left: 10px;
                            }

                            &:nth-child(4) {
                                position: absolute;
                                bottom: 0%;
                                left: 10px;
                            }

                            &:nth-child(5) {
                                position: absolute;
                                top: 27%;
                                right: 10px;
                            }
                        }

                        .headword {
                            position: absolute;
                            bottom: 14%;
                            left: 10px;
                            font-weight: 700;
                            font-size: 9px;
                            line-height: 114%;
                            font-family: var(--neuebold);
                            letter-spacing: 0.08em;
                            width: 40%;
                        }

                        .ismain {
                            position: absolute;
                            right: 10px;
                            bottom: 0%;
                            text-decoration: underline;
                            font-size: 10px;
                            color: var(--yellow);
                        }
                    }
                }
            }
        }
    }

    .addressmodal {
        position: fixed;
        width: 90%;
        height: 80vh;
        overflow-y: scroll;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        z-index: 987654;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 3px var(--yellow);
        display: none;

        .closekeeper {
            position: relative;
            width: 100%;

            .closeaddressmodal {
                position: absolute;
                top: 0px;
                cursor: pointer;
                right: 0px;
                font-size: 35px;
                z-index: 21432432;
            }
        }

        .all {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .firstp {
                font-family: var(--neueultra);
                font-size: 20px;
                text-align: center;
                letter-spacing: 0.08em;
                color: var(--yellow);
                margin-bottom: 15px;
            }

            .addressdiv {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 15px;
                align-items: center;

                .addressinozu {
                    padding: 0 10px;
                    margin-top: 15px;
                    cursor: pointer;

                    .addressozu {
                        border: 0.8px solid black;
                        background-color: white;
                        height: 200px;
                        color: black;
                        border-radius: 10px;
                        position: relative;

                        .top {
                            border-bottom: 0.8px solid black;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;

                            span {
                                font-family: var(--neuebold);
                                font-size: 10px;
                                letter-spacing: 0.08em;
                                padding: 0 15px;

                                &:nth-child(1) {
                                    padding-bottom: 10px;
                                    padding-top: 10px;
                                }

                                &:nth-child(2) {
                                    padding-bottom: 10px;
                                }
                            }
                        }

                        .bottom {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding: 15px;

                            span {
                                font-weight: 300;
                                font-size: 9px;
                                line-height: 114%;
                                font-family: var(--neueregular);
                                letter-spacing: 0.08em;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-wrap: wrap;

                                span {
                                    padding-bottom: 10px;

                                    &:nth-child(2) {
                                        font-family: var(--neuebold);
                                        font-size: 11px;
                                    }
                                }
                            }
                        }


                        .ismain {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            color: var(--yellow);
                        }
                    }
                }
            }
        }
    }
}