* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NeuePowerLight;
    src: url(../fonts/Neue_Power/NeuePower-Light.ttf);
}

@font-face {
    font-family: NeuePowerMedium;
    src: url(../fonts/Neue_Power/NeuePower-Medium.ttf);
}

@font-face {
    font-family: NeuePowerRegular;
    src: url(../fonts/Neue_Power/NeuePower-Regular.ttf);
}

@font-face {
    font-family: NeuePowerUltra;
    src: url(../fonts/Neue_Power/NeuePower-Ultra.ttf);
}

@font-face {
    font-family: NeuePowerBold;
    src: url(../fonts/Neue_Power/NeuePower-Bold.ttf);
}

:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.where {
    opacity: 0;
    margin-top: 30px;
}

@media(min-width:576px) {
    .ordersection {
        margin-top: 10px;
        margin-bottom: 30px;

        .all {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .firstp {
                font-family: var(--neueultra);
                font-size: 50px;
                line-height: 60px;
                text-align: center;
                letter-spacing: 0.08em;
                color: var(--yellow);
                margin-bottom: 30px;
            }

            .ordersearchkeeper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid black;
                padding: 0;
                margin-left: 12px;
                padding-left: 12px;

                .search_input_order {
                    width: 90%;
                    font-family: var(--neuelight);
                    letter-spacing: 0.08em;
                    background-color: transparent;
                    outline: none;
                    border: none;

                    &::placeholder {
                        color: black;
                    }

                    &:focus {
                        color: black;
                    }
                }

                .search_icon_order {
                    color: var(--white);
                    color: black;
                    font-size: 22px;
                    vertical-align: bottom;
                    padding-bottom: 2px;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: var(--neueregular);
                position: relative;
                padding-right: 12px;

                li {
                    a {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.08em;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .activespan {
                        padding: 2px 8px;
                        background-color: var(--yellow);
                        text-decoration: underline;
                    }
                }
            }

            .orders {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 50px;

                .order {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 20px 0;
                    border-top: 1px solid var(--yellow);
                    border-bottom: 1px solid var(--yellow);
                    cursor: pointer;

                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;

                        div {

                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4) {
                                display: flex;
                                flex-wrap: wrap;

                                span {
                                    &:nth-child(1) {
                                        font-family: var(--neuelight);
                                        font-weight: 300;
                                        font-size: 13px;
                                        line-height: 114%;
                                        letter-spacing: 0.08em;
                                        margin-bottom: 10px;
                                    }

                                    &:nth-child(2) {
                                        font-family: var(--neueultra);
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 114%;
                                        letter-spacing: 0.08em;
                                    }
                                }
                            }

                            &:nth-child(5) {
                                span {

                                    &:nth-child(1) {
                                        font-size: 14px;
                                        line-height: 18px;
                                        text-align: right;
                                        margin-bottom: 10px;
                                        letter-spacing: 0.08em;
                                        font-family: var(--neuebold);
                                    }

                                    &:nth-child(2) {
                                        font-weight: 800;
                                        font-size: 15px;
                                        line-height: 18px;
                                        text-align: right;
                                        color: var(--yellow);
                                        letter-spacing: 0.08em;
                                        text-decoration-line: underline;
                                        font-family: var(--neueultra);
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }

                    .bottom {
                        display: none;

                        .orderitem {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid black;
                            flex-wrap: wrap;
                            padding: 20px 0;

                            &:nth-child(1) {
                                border-top: 1px solid black;
                                margin-top: 15px;
                            }

                            &:last-child {
                                border: none;
                                padding-bottom: 0;
                            }

                            .first {
                                font-family: var(--neuebold);
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 114%;
                                letter-spacing: 0.08em;
                                margin-bottom: 15px;

                                svg {
                                    margin-left: 20px;
                                }
                            }

                            .second {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 114%;
                                letter-spacing: 0.08em;
                                font-family: var(--neuemedium);
                            }

                            .third {
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 114%;
                                letter-spacing: 0.08em;
                                font-family: var(--neuemedium);
                                margin-top: 15px;

                            }

                            .orderinfo {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;

                                .toptop {
                                    display: flex;
                                    margin-bottom: 15px;
                                    padding-left: 20px;
                                    flex-wrap: wrap;

                                    span {
                                        font-weight: 700;
                                        font-size: 15px;
                                        line-height: 114%;
                                        margin-bottom: 9px;
                                        letter-spacing: 0.08em;
                                        padding-left: 10px;
                                        font-family: var(--neueultra);
                                    }

                                    p {

                                        &:nth-child(1) {
                                            margin-bottom: 11px;
                                            font-family: var(--neueregular);
                                            font-weight: 400;
                                            font-size: 15px;
                                            line-height: 18px;
                                            letter-spacing: 0.08em;
                                        }

                                        &:nth-child(3) {
                                            font-family: var(--neueregular);
                                            font-weight: 400;
                                            font-size: 13px;
                                            line-height: 114%;
                                            letter-spacing: 0.08em;

                                            span {
                                                font-weight: 700;
                                                font-size: 13px;
                                                line-height: 114%;
                                                font-family: var(--neuebold);
                                                letter-spacing: 0.08em;
                                            }
                                        }
                                    }
                                }

                                .bottombottom {
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    margin-bottom: 10px;
                                    padding-left: 20px;

                                    div {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        &:nth-child(2),
                                        &:nth-child(4) {
                                            padding-left: 20px;
                                        }

                                        &:nth-child(1),
                                        &:nth-child(2) {
                                            margin-bottom: 15px;
                                        }

                                        span {
                                            &:nth-child(1) {
                                                font-family: var(--neueregular);
                                                font-weight: 400;
                                                font-size: 13px;
                                                line-height: 114%;
                                                letter-spacing: 0.08em;
                                            }

                                            &:nth-child(2) {
                                                font-weight: 700;
                                                font-size: 13px;
                                                line-height: 114%;
                                                font-family: var(--neuebold);
                                                letter-spacing: 0.08em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .noordersyet {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 50px 0;

                    p {
                        font-family: var(--neuebold);
                        font-size: 28px;
                        color: var(--yellow);
                        letter-spacing: 0.1em;
                        text-align: center;
                    }
                }
            }
        }
    }
}