* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NeuePowerLight;
    src: url(../fonts/Neue_Power/NeuePower-Light.ttf);
}

@font-face {
    font-family: NeuePowerMedium;
    src: url(../fonts/Neue_Power/NeuePower-Medium.ttf);
}

@font-face {
    font-family: NeuePowerRegular;
    src: url(../fonts/Neue_Power/NeuePower-Regular.ttf);
}

@font-face {
    font-family: NeuePowerUltra;
    src: url(../fonts/Neue_Power/NeuePower-Ultra.ttf);
}

@font-face {
    font-family: NeuePowerBold;
    src: url(../fonts/Neue_Power/NeuePower-Bold.ttf);
}

:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.where {
    opacity: 0;
    margin-top: 30px;
}

@media (min-width: 577px) and(max-width:1100px),
(min-width: 1349px) {
    .seeall {
        display: none;
    }

    @media(min-width:577px) {
        .price-input-mobile {
            display: none !important;
        }
    }

    #categories {
        width: 100%;
        background-color: white;
        color: black;
        border-bottom: 1px solid black;

        .head_categories {
            list-style: none;
            padding: 0;
            margin: 0;
            padding: 0 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: var(--neueregular);
            position: relative;

            li {
                padding: 15px 0;

                &:hover .categorymenu {
                    opacity: 1;
                    visibility: visible;
                }

                a {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.08em;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .activespan {
                    padding: 2px 8px;
                    background-color: var(--yellow);
                    text-decoration: underline;
                }

                .categorymenu {
                    height: 511px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;
                    background-color: white;
                    box-shadow: 0px 0px 5px var(--yellow);
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    padding: 25px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 101%;
                    z-index: 32;

                    .all {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                    }

                    .left {
                        height: 100%;
                        overflow-y: scroll;

                        &::-webkit-scrollbar-track {
                            background: white;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: white;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: white;
                        }

                        span {
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 18px;
                            font-family: var(--neuebold);
                            letter-spacing: 0.08em;
                            text-decoration-line: underline;
                            margin-bottom: 15px;
                        }

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            li {
                                padding: 6px 0;
                                font-family: var(--neueregular);
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14px;
                                letter-spacing: 0.08em;

                                &:first-child {
                                    padding-top: 25px;
                                }
                            }
                        }
                    }

                    .middle {
                        padding: 0 10px;
                        overflow-y: scroll;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        padding-right: 10px;

                        &::-webkit-scrollbar-track {
                            background: white;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: white;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: white;
                        }

                        .mainspan {
                            margin-bottom: 15px;
                            font-weight: 700;
                            font-size: 15px;
                            letter-spacing: 0.08em;
                            font-family: var(--neuebold);
                        }

                        .bodyfits {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            width: 100%;

                            .maindiv {
                                margin: 10px 0;
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                justify-content: center;

                                .namecate {
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 14px;
                                    letter-spacing: 0.08em;
                                    font-family: var(--neueregular);
                                    text-align: center;
                                    margin-top: 10px;
                                }

                                .imgkeeper {
                                    width: 90%;
                                    padding: 10px;
                                    border-radius: 100%;
                                    border: 1px solid var(--yellow);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        border-radius: 100%;
                                    }
                                }


                            }



                        }
                    }

                    .right {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;
                        flex-wrap: wrap;
                        padding: 0 10px;

                        .mainspan {
                            font-size: 15px;
                            letter-spacing: 0.08em;
                            font-family: var(--neuebold);
                            margin-bottom: 25px;
                            padding-left: 36px;
                        }

                        .topphoto {
                            margin-bottom: 20px;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            position: relative;

                            img {
                                width: 90%;
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 90%;
                                height: 100%;
                                background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(255, 255, 255, 0) 100%);
                            }

                            .nazvanie {
                                position: absolute;
                                bottom: 5%;
                                left: 50%;
                                color: white;
                                font-weight: 500;
                                font-size: 16px;
                                letter-spacing: 0.1em;
                                font-family: var(--neuemedium);
                                transform: translateX(-40%);
                            }
                        }

                        .bottomphoto {
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            position: relative;

                            img {
                                width: 90%;
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 90%;
                                height: 100%;
                                background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(255, 255, 255, 0) 100%);
                            }

                            .nazvanie {
                                position: absolute;
                                bottom: 5%;
                                left: 50%;
                                color: white;
                                font-weight: 500;
                                font-size: 16px;
                                letter-spacing: 0.1em;
                                font-family: var(--neuemedium);
                                transform: translateX(-40%);
                            }
                        }
                    }
                }
            }
        }
    }

    #shoptext {
        padding: 20px 0;
        border-bottom: 1px solid black;

        p {
            font-family: var(--neueregular);
            font-weight: 400;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            letter-spacing: 0.08em;

            span {
                &:first-child {
                    color: var(--yellow);
                    font-family: var(--neuebold);
                }

                &:last-child {
                    font-style: italic;
                }
            }
        }
    }

    .breadcrumb {
        padding: 20px 0;
        margin: 0;

        .keeper {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 10px 0;

            div {
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
                font-family: var(--neuelight);
                letter-spacing: 0.08em;
            }

            a {
                font-family: var(--neueregular);
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.08em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #clothing {
        .all {
            .top {
                text-align: center;
                font-family: var(--neueultra);
                font-weight: 800;
                font-size: 50px;
                line-height: 60px;
                text-align: center;
                color: var(--yellow);
                letter-spacing: 0.08em;
            }

            .filter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;

                select {
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    font-family: var(--neueregular);
                    letter-spacing: 0.08em;
                    padding-bottom: 3px;
                    cursor: pointer;
                }
            }

            .filternew {
                display: flex;
                margin-top: 50px;
                padding: 0 12px;
                justify-content: space-between;
                align-items: center;

                .filterdiv {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    font-family: var(--neueregular);
                    letter-spacing: 0.08em;
                    padding-bottom: 3px;
                    position: relative;
                    border-bottom: 1px solid black;
                    cursor: pointer;
                    padding: 6px 0;

                    svg {
                        transition: 0.5s;
                        width: 100%;
                    }

                    .svgkeeper {
                        transition: 0.1s;
                    }

                    span {
                        padding-left: 2px;
                    }

                    .roundarrow {
                        transform: rotate(180deg) !important;
                    }

                    ul {
                        list-style: none;
                        display: none;
                        background-color: white;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        border: 1px solid black;
                        z-index: 43432;

                        .yellowli {
                            background-color: var(--yellow);
                        }

                        li {
                            padding: 5px;

                            &:hover {
                                background-color: var(--yellow);
                            }

                        }
                    }
                }
            }

            .pricerange {
                display: flex;
                padding: 0 12px;
                justify-content: space-between;
                margin-top: 20px;
                align-items: center;
                position: relative;
                overflow: hidden;

                .price-input {
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    justify-content: center;
                    border-bottom: 1px solid black;

                    .inputspan {
                        margin: 0 10px;
                    }

                    .axirincnispan {
                        margin-right: 10px;
                    }
                }

                input[type=number]::-webkit-inner-spin-button {
                    appearance: none;
                }

                input {
                    width: 30%;
                    font-size: 16px;
                    font-family: var(--neueregular);
                    border: none;
                    outline: none;
                    text-align: center;
                }

                ::selection {
                    color: #fff;
                    background: var(--yellow);
                    cursor: pointer;
                }

                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                .slider1 {
                    height: 0.8px;
                    right: 12px;
                    top: 76%;
                    width: 84%;
                    position: absolute;
                    border-radius: 5px;
                    background: black;
                }

                .range-input {
                    position: relative;
                    width: 83%;
                    margin-top: 17px;
                    height: 0px;
                }

                .range-input input {
                    position: absolute;
                    cursor: pointer;
                    width: 100%;
                    height: 5px;
                    top: 48%;
                    background: none;
                    pointer-events: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }

                input[type="range"]::-webkit-slider-thumb {
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                    background: var(--yellow);
                    outline: 1px solid black;
                    padding: 10px;
                    pointer-events: auto;
                    -webkit-appearance: none;
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                }

                input[type="range"]::-moz-range-thumb {
                    height: 17px;
                    width: 17px;
                    border: none;
                    border-radius: 50%;
                    background: var(--yellow);
                    pointer-events: auto;
                    -moz-appearance: none;
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                }
            }

            .products {
                margin: 40px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .product {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    margin: 20px 0;
                    position: relative;

                    &:hover {
                        .top {
                            .wishlist {
                                visibility: visible !important;
                                opacity: 1 !important;
                            }
                        }

                        .bottom {
                            .basket {
                                visibility: visible !important;
                                opacity: 1 !important;
                            }

                            .bobotleft {
                                visibility: visible !important;
                                opacity: 1 !important;
                            }

                            .bobotright {
                                visibility: visible !important;
                                opacity: 1 !important;
                            }
                        }
                    }

                    .top {
                        position: relative;

                        .wishlist {
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            top: 0%;
                            right: 5%;
                            transition: 0.3s;
                            cursor: pointer;
                            background-color: transparent;

                            svg {
                                transition: 0.3s;
                            }

                            &:hover {
                                svg {
                                    fill: var(--yellow);

                                    path {
                                        fill: var(--yellow);
                                        stroke: var(--yellow);
                                    }
                                }
                            }
                        }

                        .discount_percent {
                            margin: 0;
                            padding: 0;
                            position: absolute;
                            bottom: -2%;
                            right: 2%;

                            span {
                                font-size: 12px;
                                padding: 5px 10px;
                                background-color: var(--yellow);
                                color: black;
                                font-family: var(--neueregular);
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-top: 8px;

                        .botop {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;

                            .botopleft {
                                padding-left: 10px;
                                font-size: 15px;
                                font-family: var(--neuelight);
                                letter-spacing: 0.08em;
                            }

                            .botopright {
                                font-family: var(--neuebold);
                                letter-spacing: 0.08em;

                                .discprice {
                                    text-align: end;
                                    font-size: 19px;
                                    text-decoration: none !important;
                                }
                            }
                        }

                        .bobottom {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            align-items: center;
                            margin-top: 8px;

                            .basket {
                                opacity: 0;
                                visibility: hidden;
                                position: absolute;
                                top: 5%;
                                left: 5%;
                                transition: 0.3s;
                                cursor: pointer;
                                border: none;
                                outline: none;
                                background-color: transparent;

                                svg {
                                    transition: 0.3s;
                                }

                                &:hover {
                                    svg {
                                        fill: var(--yellow);
                                        stroke: var(--yellow);

                                        path {
                                            fill: var(--yellow);
                                            stroke: var(--yellow);
                                        }
                                    }
                                }
                            }

                            .bobotleft {
                                opacity: 0;
                                transition: 0.3s;
                                visibility: hidden;
                                padding-left: 10px;

                                select {
                                    width: 100%;
                                    outline: none;
                                    font-family: var(--neueregular);
                                    border-radius: 0;
                                    font-weight: 400;
                                    font-size: 14px;
                                    letter-spacing: 0.08em;
                                }
                            }

                            .bobotright {
                                opacity: 0;
                                transition: 0.3s;
                                visibility: hidden;
                                margin: 0 auto;
                                display: flex;
                                justify-content: end;
                                align-items: center;

                                input {
                                    display: none;
                                }

                                label,
                                .color_box {
                                    height: 15px;
                                    width: 15px;
                                    cursor: pointer;
                                    border: 0.3px solid white;
                                    outline: 0.3px solid black;
                                    position: relative;
                                    margin-left: 8px;

                                    .markicon {
                                        font-size: 20px;
                                        position: absolute;
                                        bottom: -30%;
                                        left: -25%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;

                ul {
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    li {
                        background-color: black;
                        width: 7%;
                        padding: 2px;
                        cursor: pointer;
                        transition: 0.2s;

                        &:hover {
                            background-color: var(--yellow);
                            padding: 3px;
                        }
                    }

                    .activepagination {
                        background-color: var(--yellow);
                        padding: 3px 0;
                    }
                }
            }

            .loadmore {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 50px;

                a {
                    padding: 20px 90px;
                    color: black;
                    border: 1px solid black;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 114%;
                    font-family: var(--neueregular);
                    letter-spacing: 0.08em;

                }
            }
        }
    }

}