* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wishlist {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .wishlistboshdu {
            margin: 60px 0;

            .wishlistbosh {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                p {
                    text-align: center;
                    font-family: var(--neuebold);
                    font-size: 28px;
                    letter-spacing: 0.1em;
                    color: var(--yellow);
                }
            }
        }

        .wishlistitem {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            font-family: var(--neuemedium);
            font-weight: 500;
            font-size: 14px;
            line-height: 114%;
            letter-spacing: 0.08em;

            span {
                margin-top: 15px;

                &:nth-child(3) {
                    font-size: 18px;
                }
            }

            .discpercent {
                position: absolute;
                right: 6%;
                bottom: 10%;
                font-size: 12px;
                color: black;
                background-color: var(--yellow);
                padding: 2px 3px;
            }

            .removefromwishlist {
                position: absolute;
                font-size: 30px;
                color: var(--yellow);
                right: 6%;
                top: 3%;
                transition: 0.3s;

                &:hover {
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #wishlist {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;

        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .wishlistboshdu {
                margin: 60px 0;

                .wishlistbosh {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    p {
                        text-align: center;
                        font-family: var(--neuebold);
                        font-size: 28px;
                        letter-spacing: 0.1em;
                        color: var(--yellow);
                    }
                }
            }

            .wishlistitem {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                font-family: var(--neuemedium);
                font-weight: 500;
                font-size: 10px;
                line-height: 114%;
                letter-spacing: 0.08em;
                margin-bottom: 20px;

                span {
                    margin-top: 10px;

                    &:nth-child(3) {
                        font-size: 12px;
                    }
                }

                .discpercent {
                    position: absolute;
                    right: 8%;
                    bottom: 18%;
                    font-size: 10px;
                    color: black;
                    background-color: var(--yellow);
                    padding: 2px 3px;
                }

                .removefromwishlist {
                    position: absolute;
                    font-size: 30px;
                    color: var(--yellow);
                    right: 6%;
                    top: 3%;
                    transition: 0.3s;

                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}