


<main>
    <section class="whereareyou">
    </section>

    <section id="first">
        <div class="col-lg-12 col-12 section_keeper">
            <!-- <img class="img-fluid" src="~/assets/images/main_Page/background.jpg" alt=""> -->
            <p class="brand_name">P<span>U</span>LL&B<span>E</span>AR</p>
            <p class="trynew">TRY THE NEW BEST</p>
            <a href="shop.html">DISCOVER MORE</a>
            <p class="discount">ORDERS • 10% DISCOUNT ON</p>
        </div>

        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
    </section>

    <section id="second">

        <div class="container">
            <p class="mission">OUR <span>MISSION</span> <br> AND VALUE</p>
            <img class="image1" src="~/assets/images/main_Page/home_photo1.jpg" alt="">
            <div class="keeper">
                <img class="image2" src="~/assets/images/main_Page/home_photo2.jpg" alt="">
                <p class="fashion_text">
                    Fashion is a form of expression. Fashion is what people wear in a specific
                    context.
                </p>
            </div>
            <img class="image3" src="~/assets/images/main_Page/home_photo3.jpg" alt="">
            <a class="seemore forcomp" href="shop.html">SEE MORE</a>
        </div>

    </section>

    <section id="secondthird">
        <div class="container">
            <div class="mainpart">
                <p class="preorder_prods">HOT SALE!</p>
                <a class="seemore" href="shop.html">SEE MORE</a>
            </div>

            <div class="sliderfirst">

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.htmlwishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product2.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS 2
                    </p>
                    <span class="price">
                        45 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product3.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS 3
                    </p>
                    <span class="price">
                        15 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product4.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS 4
                    </p>
                    <span class="price">
                        554 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

            </div>

            <div class="arrows col-lg-4">
                <svg style="margin-bottom: 1px;" class="prevfirst" width="85" height="17" viewBox="0 0 85 17"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M84 9.5C84.2761 9.5 84.5 9.27614 84.5 9C84.5 8.72386 84.2761 8.5 84 8.5V9.5ZM2 8.5C1.72386 8.5 1.5 8.72386 1.5 9C1.5 9.27614 1.72386 9.5 2 9.5L2 8.5ZM84 8.5L2 8.5L2 9.5L84 9.5V8.5Z"
                          fill="black" />
                    <path d="M12.735 16.424C12.9692 16.5704 13.2776 16.4992 13.424 16.265C13.5704 16.0308 13.4992 15.7224 13.265 15.576L12.735 16.424ZM1 8.5L0.735001 8.076C0.58881 8.16737 0.5 8.3276 0.5 8.5C0.5 8.67239 0.58881 8.83263 0.735 8.924L1 8.5ZM13.265 1.424C13.4992 1.27764 13.5704 0.969169 13.424 0.735001C13.2776 0.500832 12.9692 0.429646 12.735 0.576001L13.265 1.424ZM13.265 15.576L1.265 8.076L0.735 8.924L12.735 16.424L13.265 15.576ZM1.265 8.924L13.265 1.424L12.735 0.576001L0.735001 8.076L1.265 8.924Z"
                          fill="black" />
                </svg>

                <svg class="nextfirst" width="85" height="17" viewBox="0 0 85 17" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7.5C0.723862 7.5 0.5 7.72386 0.5 8C0.5 8.27614 0.723862 8.5 1 8.5V7.5ZM83 8.5C83.2761 8.5 83.5 8.27614 83.5 8C83.5 7.72386 83.2761 7.5 83 7.5V8.5ZM1 8.5L83 8.5V7.5L1 7.5V8.5Z"
                          fill="black" />
                    <path d="M72.265 0.576001C72.0308 0.429646 71.7224 0.500833 71.576 0.735001C71.4296 0.969169 71.5008 1.27764 71.735 1.424L72.265 0.576001ZM84 8.5L84.265 8.924C84.4112 8.83263 84.5 8.6724 84.5 8.5C84.5 8.32761 84.4112 8.16737 84.265 8.076L84 8.5ZM71.735 15.576C71.5008 15.7224 71.4296 16.0308 71.576 16.265C71.7224 16.4992 72.0308 16.5704 72.265 16.424L71.735 15.576ZM71.735 1.424L83.735 8.924L84.265 8.076L72.265 0.576001L71.735 1.424ZM83.735 8.076L71.735 15.576L72.265 16.424L84.265 8.924L83.735 8.076Z"
                          fill="black" />
                </svg>
            </div>

            <div class="dot"></div>

        </div>
    </section>

    <section id="third">
        <div class="container">
            <div class="mainpart">
                <p class="new_products">NEW COLLECTION</p>
                <a class="seemore" href="shop.html">SEE MORE</a>
            </div>
        </div>

        <div class="transformed_p transformed_left ">
            <div class="spans_key">
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
            </div>
        </div>
        <div class="transformed_p transformed_right ">
            <div class="spans_key">
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
                <span class="animation_hashtag">#NEWCOLLECTIONPB22 &nbsp;&nbsp;</span>
            </div>
        </div>

        <div class="newprodcs container">
            <div class="newprodcs_element">
                <div class="empty_space"></div>
                <div class="element">
                    <p class="product_name">
                        SLIDE SANDALS
                    </p>
                    <span class="product_price">
                        59 $
                    </span>
                    <a href="detail.html">
                        <img class="img-fluid image_click" src="~/assets/images/main_Page/home_slider1.jpg">
                    </a>
                </div>
            </div>
            <div class="newprodcs_element">
                <div class="empty_space"></div>
                <div class="element">
                    <p class="product_name">
                        XDYE SPLASH SHIRT
                    </p>
                    <span class="product_price">
                        59 $
                    </span>

                    <a href="detail.html">
                        <img class="img-fluid" src="~/assets/images/main_Page/home_slider2.jpg">
                    </a>
                </div>
            </div>
            <div class="newprodcs_element notformobile">
                <div class="empty_space"></div>
                <div class="element">
                    <p class="product_name">
                        SLIDE SANDALS
                    </p>
                    <span class="product_price">
                        59 $
                    </span>
                    <a href="detail.html">
                        <img class="img-fluid" src="~/assets/images/main_Page/home_slider1.jpg">
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section id="fourth">
        <div class="container">
            <div class="mainpart">
                <p class="preorder_prods">PIECES <br> FOR PREORDER</p>
                <a class="seemore" href="shop.html">SEE MORE</a>
            </div>

            <div class="slider">

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product2.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS 2
                    </p>
                    <span class="price">
                        45 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product3.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS 3
                    </p>
                    <span class="price">
                        15 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product4.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS 4
                    </p>
                    <span class="price">
                        554 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

                <div class="slider_element">
                    <div class="imagekeeper">
                        <a class="wishlist" href="wishlist.html">
                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                      stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </a>
                        <!-- <a href="" class="basket">
                            <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                                    fill="#FAFF03" />
                            </svg>
                        </a> -->
                        <a href="detail.html">
                            <img class="img-fluid" src="~/assets/images/Products/product1.jpg">
                        </a>
                    </div>
                    <p class="preorder">
                        PREORDER
                    </p>
                    <p class="name">
                        RUSTIC MESH FABRIC SHORTS
                    </p>
                    <span class="price">
                        55 $
                    </span>
                </div>

            </div>

            <div class="arrows col-lg-4">
                <svg style="margin-bottom: 1px;" class="prev" width="85" height="17" viewBox="0 0 85 17" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M84 9.5C84.2761 9.5 84.5 9.27614 84.5 9C84.5 8.72386 84.2761 8.5 84 8.5V9.5ZM2 8.5C1.72386 8.5 1.5 8.72386 1.5 9C1.5 9.27614 1.72386 9.5 2 9.5L2 8.5ZM84 8.5L2 8.5L2 9.5L84 9.5V8.5Z"
                          fill="black" />
                    <path d="M12.735 16.424C12.9692 16.5704 13.2776 16.4992 13.424 16.265C13.5704 16.0308 13.4992 15.7224 13.265 15.576L12.735 16.424ZM1 8.5L0.735001 8.076C0.58881 8.16737 0.5 8.3276 0.5 8.5C0.5 8.67239 0.58881 8.83263 0.735 8.924L1 8.5ZM13.265 1.424C13.4992 1.27764 13.5704 0.969169 13.424 0.735001C13.2776 0.500832 12.9692 0.429646 12.735 0.576001L13.265 1.424ZM13.265 15.576L1.265 8.076L0.735 8.924L12.735 16.424L13.265 15.576ZM1.265 8.924L13.265 1.424L12.735 0.576001L0.735001 8.076L1.265 8.924Z"
                          fill="black" />
                </svg>

                <svg style="margin-bottom: -1px;" class="next" width="85" height="17" viewBox="0 0 85 17"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7.5C0.723862 7.5 0.5 7.72386 0.5 8C0.5 8.27614 0.723862 8.5 1 8.5V7.5ZM83 8.5C83.2761 8.5 83.5 8.27614 83.5 8C83.5 7.72386 83.2761 7.5 83 7.5V8.5ZM1 8.5L83 8.5V7.5L1 7.5V8.5Z"
                          fill="black" />
                    <path d="M72.265 0.576001C72.0308 0.429646 71.7224 0.500833 71.576 0.735001C71.4296 0.969169 71.5008 1.27764 71.735 1.424L72.265 0.576001ZM84 8.5L84.265 8.924C84.4112 8.83263 84.5 8.6724 84.5 8.5C84.5 8.32761 84.4112 8.16737 84.265 8.076L84 8.5ZM71.735 15.576C71.5008 15.7224 71.4296 16.0308 71.576 16.265C71.7224 16.4992 72.0308 16.5704 72.265 16.424L71.735 15.576ZM71.735 1.424L83.735 8.924L84.265 8.076L72.265 0.576001L71.735 1.424ZM83.735 8.076L71.735 15.576L72.265 16.424L84.265 8.924L83.735 8.076Z"
                          fill="black" />
                </svg>
            </div>

            <div class="dot"></div>

        </div>
    </section>

    <section id="fifth">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-7 left">
                    <img class="img-fluid" src="~/assets/images/bloggers/blogger1.jpg" alt="">
                </div>

                <div class="col-lg-6 col-5 right">
                    <div class="left_up_for_border"></div>
                    <div class="left_down_for_border"></div>
                    <div class="right_up_for_border"></div>
                    <div class="right_down_for_border"></div>

                    <p class="first col-12">“THERE IS NOTHING MORE</p>

                    <img class="img-fluid notformobile" src="~/assets/images/Products/product5.jpg" alt="">
                    <p class="formobile">
                        “THERE IS NOTHING MORE IMPORTANT THAN FIT”
                    </p>
                    <a href="shop.html" class="linktobloggerclothes">
                        <p class="second">SHOP PAOLA’S MUST- HAVE</p>
                        <svg class="" width="65" height="17" viewBox="0 0 85 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 7.5C0.723862 7.5 0.5 7.72386 0.5 8C0.5 8.27614 0.723862 8.5 1 8.5V7.5ZM83 8.5C83.2761 8.5 83.5 8.27614 83.5 8C83.5 7.72386 83.2761 7.5 83 7.5V8.5ZM1 8.5L83 8.5V7.5L1 7.5V8.5Z"
                                  fill="black" />
                            <path d="M72.265 0.576001C72.0308 0.429646 71.7224 0.500833 71.576 0.735001C71.4296 0.969169 71.5008 1.27764 71.735 1.424L72.265 0.576001ZM84 8.5L84.265 8.924C84.4112 8.83263 84.5 8.6724 84.5 8.5C84.5 8.32761 84.4112 8.16737 84.265 8.076L84 8.5ZM71.735 15.576C71.5008 15.7224 71.4296 16.0308 71.576 16.265C71.7224 16.4992 72.0308 16.5704 72.265 16.424L71.735 15.576ZM71.735 1.424L83.735 8.924L84.265 8.076L72.265 0.576001L71.735 1.424ZM83.735 8.076L71.735 15.576L72.265 16.424L84.265 8.924L83.735 8.076Z"
                                  fill="black" />
                        </svg>
                    </a>
                    <p class="third col-12">IMPORTANT THAN FIT”</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sixth">
        <p class="just_launched">JUST LAUNCHED</p>
        <p class="shipping">FREE <br> EXPRESS SHIPPING</p>
        <!-- <img class="img-fluid" src="~/assets/images/main_Page/just_launched.jpg" alt=""> -->

        <div class="col-lg-12 col-12 section_keeper">
            <p class="col-9">
                WE’RE EXCITED TO MEET YOU: ENJOY FREE EXPRESS SHIPPING ON ORDERS <span>
                    ABOVE
                    100€
                </span>.
            </p>
            <a href="shop.html">SHOP NOW</a>
        </div>
    </section>

    <section id="seventh">
        <div class="container">
            <div class="row">
                <div class="top_main">
                    <div class="col-lg-3-5 col-4 left">
                        <img class="img-fluid" src="~/assets/images/main_Page/start_journey.jpg" alt="">
                    </div>
                    <div class="col-lg-8 col-8 right">
                        <div class="top col-12 col-lg-12">
                            START <br> YOUR JOURNEY
                        </div>
                        <ul class="bottom col-12 col-lg-12">
                            <li>ADD YOUR FAVORITES TO CART</li>
                            <li>ORDER YOUR CHOICES ONLINE</li>
                            <li>WE DELIVER IT TO YOUR HOME</li>
                        </ul>
                    </div>
                </div>
                <div class="bottom_main col-12">
                    <div class="col-lg-4 col-12  testimoninal_div">
                        <div class="top">FREE SHIPPING</div>
                        <div class="bottom">ON ALL ORDERS OVER 150€</div>
                    </div>
                    <div class="col-lg-4-5 col-12  testimoninal_div">
                        <div class="top">DUTES AND TAXES INCLUDED</div>
                        <div class="bottom">NO EXTRA CHARGES AT CHECKOUT</div>
                    </div>
                    <div class="col-lg-3-5 col-12  testimoninal_div">
                        <div class="top">HERE FOR YOU</div>
                        <div class="bottom"><a href="mailto:PULLANDBEAR@GMAIL.COM">PULLANDBEAR@GMAIL.COM</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="eighth">
        <div class="top ">
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                JOIN OUR MAILING LIST AND RECEIVE 10% OFF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <form method="post" class="mailform col-lg-8 col-10">
            <div class="forminside">
                <svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.4444 1H2.55556C1.69645 1 1 1.70355 1 2.57143V21.4286C1 22.2964 1.69645 23 2.55556 23H27.4444C28.3036 23 29 22.2964 29 21.4286V2.57143C29 1.70355 28.3036 1 27.4444 1Z"
                          stroke="#14181F" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 3L15.4 14L29 3" stroke="#14181F" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <input type="email" placeholder="YOUR MAIL">
            </div>
            <button type="submit">SUBMIT</button>
        </form>
    </section>
</main>
