@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/styles/plugins/bootstrap-5.0.2-dist/css/bootstrap.css">

    <link rel="stylesheet" href="~/assets/styles/style.css">

    <title>Pull & Bear</title>
</head>

<body>

    <div class="w-100 ">
        <p style="color: var(--yellow); font-family: var(--neuemedium)" class="text-center col-lg-12 col-12 mt-5">
            We have sent a mail with confirmation link to your email address
        </p>
    </div>

</body>


</html>


