@model ForgotPasswordVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/styles/plugins/bootstrap-5.0.2-dist/css/bootstrap.css">

    <link rel="icon" href="~/assets/images/settings/favicon_pb.png">

    <link rel="stylesheet" href="~/assets/styles/style.css" asp-append-version="true">

    <link rel="stylesheet" href="~/assets/Custom.css" asp-append-version="true">

    <title>Pull & Bear</title>
</head>


<body>

    <section id="forgot">
        <div class="container">
            <div class="row all">
                <div class="col-lg-8 col-12">
                    <p>FORGOT PASSWORD</p>
                    <div asp-validation-summary="ModelOnly"></div>
                    <form method="post" id="forgotpasswordform" asp-controller="Account" asp-action="ForgotPassword">
                        <input asp-for="Email" autofocus placeholder="YOUR EMAIL" type="email" class="col-lg-9 col-9">
                        <button type="submit" class="col-lg- col-2" form="forgotpasswordform">
                            SUBMIT
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    @section Script{
        <partial name="_ValidationPartial">
    }

    <script src="~/assets/scripts/main.js"></script>
</body>


</html>


