@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/styles/plugins/bootstrap-5.0.2-dist/css/bootstrap.css">

    <link rel="stylesheet" href="~/assets/styles/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/styles/plugins/bootstrap-5.0.2-dist/js/bootstrap.min.js">

    <link rel="stylesheet" href="~/assets/styles/style.css">

    <title>Pull & Bear</title>
</head>

<body>

    <section id="hasbeenreset">
        <div class="container">
            <div class="row all">
                <div class="col-lg-8 col-12">
                    <p class="col-lg-12 col-12">Your password has been changed.</p>
                    <a asp-controller="Account" asp-action="Login" class="col-lg-4 col-6">Go To Login</a>
                </div>
            </div>
        </div>
    </section>

    <script src="~/assets/scripts/main.js"></script>
</body>


</html>


