@model AppUserUpdateVM

<main>
    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section class="breadcrumbregsiter">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ INFORMATION CHANGE
                </div>
            </div>
        </div>
    </section>

    <section class="accountinfoall">
        <div class="container">
            <div class="row all">
                <p class="firstp">ACCOUNT INFORMATION</p>
                <form method="post" class="accountform flex-wrap" id="accountform" asp-controller="AccountInfo" asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger text-center text col-lg-12 col-12"></div>
                    <div class="col-lg-6 col-12 left">
                        <div class="col-lg-12 col-12 head">
                            CHANGE INFORMATION
                        </div>

                        <div class="col-lg-5-8 col-5-8">
                            <label asp-for="Name" for="formname">NAME</label>
                            <input asp-for="Name" class="col-lg-12 col-12" id="formname">
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>

                        <div class="col-lg-5-8 col-5-8">
                            <label asp-for="SurName" for="formsurname">SURNAME</label>
                            <input asp-for="SurName" class="col-lg-12 col-12" id="formsurname">
                        </div>
                        <span asp-validation-for="SurName" class="text-danger"></span>

                        <div class="col-lg-12 col-12">
                            <label asp-for="Email" for="formemail">EMAIL</label>
                            <input asp-for="Email" class="col-lg-12 col-12" type="email" id="formemail">
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <div class="col-lg-12 col-12">
                            <label asp-for="PhoneNumber" for="formphone">PHONE</label>
                            <input asp-for="PhoneNumber" class="col-lg-12 col-12" type="tel" id="formphone">
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                        <div class="col-lg-12 col-12">
                            <button type="submit" form="accountform" value="saveaccount">
                                SAVE
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 right">
                        <div class="col-lg-12 col-12 head">
                            CHANGE PASSWORD
                        </div>

                        <div class="col-lg-12 col-12">
                            <label asp-for="CurrentPassword" for="foroldpassword">CURRENT PASSWORD</label>
                            <input asp-for="CurrentPassword" class="col-lg-12 col-12" id="foroldpassword">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>

                        <div class="col-lg-12 col-12">
                            <label asp-for="NewPassword" for="fornewpassword">NEW PASSWORD</label>
                            <input asp-for="NewPassword" class="col-lg-12 col-12" id="fornewpassword">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="col-lg-12 col-12">
                            <label asp-for="ConfirmPassword" for="fornewpasswordconfirm">CONFIRM PASSWORD</label>
                            <input asp-for="ConfirmPassword" class="col-lg-12 col-12"
                                   id="fornewpasswordconfirm">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

@section Script{
    <partial name="_ValidationPartial">
}
